<?php
const PRODUCT_NAME = 'VA Light Electronic Action Framework (Orgchart)';
const VERSION_NUMBER = '1.0.5';

const DIRECTORY_HOST = 'HOSTNAME';
const DIRECTORY_DB = 'DB_NAME';
const DIRECTORY_USER = 'USERNAME';
const DIRECTORY_PASS = 'PASSWORD';

const HTTP_HOST = 'www.example.com';

const AUTH_URL = 'example.com/auth';

const AUTH_TYPE = 'cookie';

const CIPHER_KEY = 'example-key';
