$nav_base_bgc: #252F3E;
$nav_link_bgc: #F0F0EC;
$nav_level_1_bgc: #274863;
$nav_level_2_bgc: #1D5689;
$nav_level_3_bgc: #2378C3;

/* ############### LEAF MAIN NAV ################# */
.leaf-nav-icon {float: right; margin: 0.2rem 0.3rem 0.2rem 0; color: #00bde3;}
.lev3 > a > i.fa-angle-down {display: none;}
.leaf-nav-icon-space {float: left; margin: 0;}
.leaf-user-menu-name {white-space: normal; word-break: break-all; font-family: 'PublicSans-Medium', sans-serif;}
#nav ul, #nav li {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  box-sizing: border-box;
  padding-inline-start: 0;
}

/* ////////////// Navigation Level One /////////////// */
#nav > ul > li {text-align: left; font-family: 'PublicSans-Regular', sans-serif;}

#nav > ul > li > ul > li > ul > li > a:hover,
#nav > ul > li > ul > li > ul > li > a:focus {
  background-color: $nav_level_3_bgc;
  font-family: 'PublicSans-Bold', sans-serif;
}

/* Javascript classes */
#nav .js-hideElement {display: none;}
#nav .js-showElement {display: block;}

/* Fallback for users without javascript */
html.no-js li:hover > a + ul, html.no-js li:focus > a + ul {
  display: block; }

  
/* ############# NAV STYLES FOR WIDTH < 60 REM (960px) ################# */
@media screen and (max-width: 60rem) {
  #nav ul {position: relative; z-index: 9999;}
  #nav > ul > li.leaf-mob-menu {
      width: 12.8rem;
      padding: 0.2rem 0;
      margin-left: -10.0rem;
  }
  #nav > ul > li:not(#toggleMenu) > a {
      text-decoration: none;
      color: $nav_link_bgc;
      margin: 0.2rem 0.5rem;
  }

  /* Any submenu */
  a + ul {position: relative;}
  a + ul:not(.js-hideElement) {display: block;}

  /* Navigation Level One */
  #nav > ul > li:not(#toggleMenu) {background-color: $nav_level_1_bgc; font-size: 0.8rem; padding: 0.3rem 0;}
  #nav > ul > li:not(#toggleMenu) > a > i {margin-right: 0.6rem;}
  #nav > ul > li:not(#toggleMenu):not(.js-showElement) {display: none;}

  #toggleMenu {
    margin-bottom: 1rem;
  }
  #toggleMenu a {
    text-decoration: none;
  }
  #toggleMenu .leaf-menu {
    cursor: pointer;
    color: #fff;
    background-color: $nav_base_bgc;
    font-size: 11px;
    font-family: 'PublicSans-Regular', sans-serif;
    border: 1px outset #fff;
    border-radius: 3px;
    padding: 0.2rem;
    text-align: center;
  }
  #nav #toggleMenu.js-open {
    margin: 2rem 0.5rem 0 0;
  }
  #nav #toggleMenu.js-open .fa-times {display: block; color: #fff; font-size: 1.25rem;}
  #nav #toggleMenu.js-open .leaf-menu {display: none;}
  #nav #toggleMenu.js-open a {display: block; text-decoration: none; margin-bottom: 0.8rem;}
  #nav #toggleMenu:not(.js-open) .fa-times {display: none;}
  #nav #toggleMenu:not(.js-open) .leaf-menu {display: block; color: #fff; text-decoration: none; }
  span#toggleMenu-text {position: absolute; opacity: 0;}

  /* ///////////// Second Level Dropdown //////////////// */
  #nav > ul > li > ul {
    background-color: $nav_level_2_bgc;
    z-index: 9999;
    margin: 0.3rem 0.0rem 0.0rem 0.0rem;
  }
  .lev3 > a > i.fa-angle-left {display: none;}
  .lev3 > a > i.fa-angle-down {display: block;}
  #nav > ul > li > ul:not(.js-showElement) {display: none;}
  #nav > ul > li > ul > li {padding: 0.2rem 0.2rem; width: 12.0rem;}
  #nav > ul > li > ul > li > a {color: $nav_link_bgc; text-decoration: none; padding: 0.3rem 0.4rem 0.3rem 0.4rem;}

  /* //////////////// Third Level Dropdown ////////////////// */
  #nav > ul > li > ul > li > ul {
    width: 100%;
    z-index: 9999;
    background-color: $nav_level_3_bgc;
    margin: 0.2rem 0.4rem 0.2rem 0.4rem;
  }
  #nav > ul > li > ul > li > ul > li {padding: 0.3rem 0;}
  #nav > ul > li > ul > li > ul:not(.js-showElement) {display: none;}
  #nav > ul > li > ul > li > ul > li > a {
    background-color: $nav_level_3_bgc;
    color: $nav_link_bgc;
    padding: 0.2rem 0.2rem 0.2rem 0.4rem;
    text-decoration: none;
  }

  html.no-js #nav:hover > ul > li:not(#toggleMenu),
  html.no-js #nav:focus > ul > li:not(#toggleMenu) {display: block;}
  html.no-js #nav:hover li:hover > a + ul,
  html.no-js #nav:hover li:focus > a + ul,
  html.no-js #nav:focus li:hover > a + ul,
  html.no-js #nav:focus li:focus > a + ul {display: block;}
}


/* ############# NAV STYLES FOR WIDTH > 60 REM (960px) ################# */
@media screen and (min-width: 961px) {
  #nav ul {z-index: 9999;}
  #nav li {
    position: relative;
    margin-right: 0.9rem;
  }
  #nav ul li a {
    text-decoration: none;
    display: block;
    padding: 0.4rem 0.7rem 0.4rem 0.7rem;
    color: $nav_link_bgc;
  }
  // Submenu
  a + ul {position: absolute;}
  a + ul:not(.js-showElement) {display: none;}

  /* Navigation Level One */
  #nav > ul > li {
    position: relative;
    float: left;
    font-size: 0.8rem;
    margin-left: 0.2rem;
  }
  .leaf-usericon {font-size: 1.1rem; line-height: 0.9rem;}
  #nav > ul > li > a { background-color: $nav_base_bgc; }
  #nav > ul > li > a:hover,
  #nav > ul > li > a:focus,
  #nav > ul > li > a.js-openSubMenu {background-color: $nav_level_1_bgc; font-family: 'PublicSans-Bold', sans-serif;}
  #nav > ul > li:hover > a,
  #nav > ul > li:focus > a {background-color: $nav_level_1_bgc;}
  #nav > ul > li:not(:last-child) {border: 0;}

  #nav > ul > li:not(#toggleMenu):not(.js-showElement) {display: inline-block;}

  #nav #toggleMenu {display: none;}

  /* Second Level Dropdown */
  #nav > ul > li > ul {
    background-color: $nav_level_1_bgc;
    left: -4.0rem;
    width: 12.0rem;
    font-size: 0.8rem;
    box-shadow: -2px 4px 4px rgba(0,0,0,0.2);
  }
  #nav > ul > li > ul.leaf-usernavmenu {left: -8rem;}
  #nav > ul > li > ul > li {padding: 0.2rem; width: 12.0rem;}
  #nav > ul > li > ul > li > a {padding: 0.2rem;}
  #nav > ul > li > ul > li:hover,
  #nav > ul > li > ul > li > a:hover,
  #nav > ul > li > ul > li > a:focus,
  #nav > ul > li > ul > li > a:focus-within {
    background-color: $nav_level_3_bgc;
    font-family: 'PublicSans-Bold', sans-serif;
  }
  /* //////////////// Third Level Dropdown ////////////////// */
  #nav > ul > li > ul > li > ul {
    top: 0;
    left: -12.0rem;
    width: 12.0rem;
    font-family: 'PublicSans-Regular', sans-serif;
    z-index: 9999;
    box-shadow: -2px 2px 4px rgba(0,0,0,0.2);
    background-color: $nav_level_3_bgc;
  }
  #nav > ul > li > ul > li > ul > li > a {
    color: $nav_link_bgc;
    padding: 0.3rem;
    text-decoration: none;
    margin-left: 0.1rem;
  }
}