/* ############### USWDS COLORS ################# */

/* ######## backgrounds ######## */
/* red */
.bg-red-10 {background-color: #f8e1de;}
.bg-red-cool-20 {background-color: #ecbec6;}
.bg-red-50 {background-color: #d83933;}
/* orange */
.bg-orange-10 {background-color: #f2e4d4;}
.bg-orange-10v {background-color: #fce2c5;}
.bg-orange-warm-10v {background-color: #ffe2d1;}
.bg-orange-20 {background-color: #f3bf90;}
.bg-orange-40 {background-color: #e66f0e;}
.bg-orange-50 {background-color: #a86437;}
/* gold */
.bg-gold-5v {background-color: #fef0c8;}
.bg-gold-10 {background-color: #f1e5cd;}
.bg-gold-10v {background-color: #ffe396;}
/* yellow */
.bg-yellow-5 {background-color: #faf3d1;}
.bg-yellow-5v {background-color: #fff5c2;}
.bg-yellow-10 {background-color: #f5e6af;} 
.bg-yellow-10v {background-color: #fee685;}
/* green */
.bg-green-warm-5v {background-color: #f5fbc1;}
.bg-green-10 {background-color: #dfeacd;}
.bg-green-cool-10 {background-color: #dbebde;}
/* mint */
.bg-mint-cool-5v {background-color: #d5fbf3;}
.bg-mint-10 {background-color: #c7efe2;}
.bg-mint-cool-10 {background-color: #c4eeeb;}
.bg-mint-cool-10v {background-color: #7efbe1;}
/* cyan */
.bg-cyan-10 {background-color: #ccecf2;}
.bg-cyan-20 {background-color: #99deea;}
.bg-cyan-10v {background-color: #a8f2ff;}
.bg-cyan-20v {background-color: #52daf2;}
/* blue */
.bg-blue-5v {background-color: #e8f5ff;}
.bg-blue-10 {background-color: #d9e8f6;}
.bg-blue-20 {background-color: #aacdec;}
.bg-blue-warm-10 {background-color: #e1e7f1;}
.bg-blue-warm-20 {background-color: #bbcae4;}
.bg-blue-warm-10v {background-color: #d4e5ff;}
.bg-blue-warm-20v {background-color: #adcdff;}
.bg-blue-10v {background-color: #cfe8ff;}
.bg-blue-20v {background-color: #a1d3ff;}
.bg-blue-cool-10 {background-color: #dae9ee;}
.bg-blue-cool-20 {background-color: #adcfdc;}
.bg-blue-cool-10v {background-color: #c3ebfa;}
.bg-blue-cool-20v {background-color: #97d4ea;}
.bg-blue-50 {background-color: #2378c3;}
/* indigo */
.bg-indigo-cool-10 {background-color: #e1e6f9;}
.bg-indigo-warm-10v {background-color: #e4deff;}
.bg-indigo-10 {background-color: #e5e4fa;}
/* violet */
.bg-violet-10 {background-color: #ebe3f9;}
/* magenta */
.bg-magenta-10 {background-color: #f6e1e8;}
/* gray */
.bg-gray-10 {background-color: #e6e6e6;}


/* ######## text colors ######## */
.text-white {color: #fff;}

/* main theme colors */
.primary {color: #005ea2;}
.secondary {color: #d83933;}

/* red */
.text-red-10 {color: #f8e1de;}
.text-red-50 {color: #d83933!important;}
.text-secondary-darker {color: #8b0a03!important;}

/* orange */
.text-orange-10 {color: #f2e4d4;}
.text-orange-10v {color: #fce2c5;}
.text-orange-warm-40 {color: #e17141;}
.text-orange-warm-40v {color: #ff580a;}
.text-orange-50 {color: #a86437;}
/* gold */
.text-gold-40v {color: #c2850c;}
.text-gold-10 {color: #f1e5cd;}
.text-gold-50 {color: #8e704f;}
/* yellow */
.text-yellow-10 {color: #f5e6af;}
.text-yellow-40 {color: #a88f48;} 
.text-yellow-40v {color: #b38c00;} 
.text-yellow-50 {color: #8a7237;}
/* green */
.text-green-warm-5v {color: #f5fbc1;}
.text-green-10 {color: #dfeacd;}
.text-green-50 {color: #607f35;}
.text-green-cool-50 {color: #4d8055;}
/* mint */
.text-mint-cool-50 {color: #40807e;}
.text-mint-cool-50v {color: #008480;}
.text-mint-50 {color: #2e8367;}
/* cyan */
.text-cyan-50 {color: #168092;}
.text-cyan-50v {color: #0081a1;}
/* blue */
.text-blue-50 {color: #2378c3;}
.text-blue-50v {color: #0076d6;}
.text-blue-cool-50 {color: #3a7d95;}
.text-blue-warm-50 {color: #4a77b4;}
.text-blue-warm-50v {color: #2672de;}
.text-blue-cool-50v {color: #0d7ea2;}
/* indigo */
.text-indigo-40 {color: #8889db;}
.text-indigo-cool-50 {color: #496fd8;}
/* violet */
.text-violet-50 {color: #8168b3;}
/* magenta */
.text-magenta-10 {color: #f6e1e8;}
/* gray */
.text-gray-10 {color: #e6e6e6;}