<?xml version="1.0" encoding="UTF-8"?>
<Configuration xmlns:xi="http://www.w3.org/2001/XInclude"
               configDebug="false" monitorInterval="1" status="ERROR" name="CONFIG_DEV">

    <Properties>

        <Property name="filters">org.junit,org.apache.maven,sun.reflect,java.lang.reflect</Property>
        <Property name="leveltag">%highlight{%-5level}{FATAL=red blink, ERROR=red, WARN=yellow bold, INFO=cyan bold, DEBUG=green bold, TRACE=blue}</Property>

        <Property name="loggertag">%.20c</Property>
        <Property name="loggertag_debug">%.20c#%green{%.20method}</Property>
        <Property name="exceptiontag_filtered">%xEx{filters(${filters})}</Property>

    </Properties>
    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="${leveltag} %C %m%n"/>
        </Console>

        <Console name="CONSOLE_SQL" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="%m%n"/>
        </Console>

        <Rewrite name="APACHE_HTTP">
            <AppenderRef ref="CONSOLE"/>
            <LoggerNameLevelRewritePolicy logger="org.apache.http.impl.conn.DefaultClientConnection">
                <KeyValuePair key="DEBUG" value="INFO"/>
            </LoggerNameLevelRewritePolicy>
        </Rewrite>
    </Appenders>

    <Loggers>
        <logger name="groovy.sql.Sql" level="DEBUG" additivity="false">
            <AppenderRef ref="CONSOLE"/>
        </logger>

        <!--<logger name="org.apache.http" level="DEBUG" additivity="false">-->
            <!--<AppenderRef ref="APACHE_HTTP"/>-->
        <!--</logger>-->

        <!--<logger name="io.restassured" level="DEBUG" additivity="false">-->
            <!--<AppenderRef ref="CONSOLE"/>-->
        <!--</logger>-->

        <Root level="INFO">
            <AppenderRef ref="CONSOLE"/>
        </Root>
    </Loggers>
</Configuration>