# Default values for PHP.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
replicaCount: 1
image:
  repository: draft
  tag: dev
  pullPolicy: IfNotPresent

# define environment variables here as a map of key: value
env:
  DB_HOST: "leafdb-mysql"
  REMOTE_USER: "//tester"

# enable this flag to use knative serve to deploy the app
knativeDeploy: false

service:
  name: leaf
  type: ClusterIP
  externalPort: 80
  internalPort: 80
  annotations:
    fabric8.io/expose: "true"
    fabric8.io/ingress.annotations: "kubernetes.io/ingress.class: nginx"
resources:
  limits:
    cpu: 100m
    memory: 128Mi
  requests:
    cpu: 100m
    memory: 128Mi
probePath: /LEAF_Request_Portal/
livenessProbe:
  initialDelaySeconds: 60
  periodSeconds: 20
  successThreshold: 1
  timeoutSeconds: 3
readinessProbe:
  periodSeconds: 20
  successThreshold: 1
  timeoutSeconds: 3
terminationGracePeriodSeconds: 10
