#vue-leaf-header * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    --headerHeight: 90px;
    --navRibonHeight: 36px;
    --totalHeaderHeight: calc(var(--headerHeight) + var(--navRibonHeight));
    --footerHeight: 25px;

    --BG-DarkNavy: #162e51;
    --BG-Charcoal: #252f3e;
    --BG-VividOrange: #ff7800; /* changed from Figma #f56600 to meet accessibility contrast */
    --BG-LightGray: #dcdee0;
    --USWDS-LtGray: #c9c9c9;
    --USWDS-Cyan: #00bde3;
    --BaseNavy: #005ea2;
    --LtNavy: #1476bd;
}

/* the div that the vue header app is mounted on */
#vue-leaf-header {
    margin-bottom: 0.5em;
    width: 100%;
    min-width: 500px;
    box-shadow: 0 4px 5px 1px rgba(0,0,25,0.25);
}

/* scrolling warning banner */
#scrolling-leaf-warning {
    text-align: center;
    font-size: 0.9rem;
    padding: 0.1em;
    width: 100%;
    position: fixed;
    z-index: 1000;
}
.warn-enter-from {
    opacity: 0;
}
.warn-enter-to {
    opacity: 1;
}
.warn-enter-active {
    transition: opacity 0.25s ease;
}

/* header element. wraps header-top and nav-ribon */
header#leaf-header {
    display: flex;
    flex-direction: column;
    font-family: "PublicSans-Regular", sans-serif;
}
header#leaf-header i {
    margin-left: 0.25em;
}


/* container for site info and top warning */
#header-top {
    padding: 0.25em 0.5em;
    height: var(--headerHeight);
    width: 100%;
    display: flex;
    align-items: center;
    background-color: var(--BG-Charcoal);
}
/* toggle full / minimized nav */
#header-toggle-button {
    width: 12px;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
#leaf-header #header-toggle-button i {
    display: inline-block;
    margin: 0;
}

/* site info in top part of header */
#logo {
    width: 75px;
    min-width: 75px;
    margin-right: 0.5em;
    height: 75px;
    min-height: 75px;
    cursor: pointer;
}
#logo img {
    height: 100%;
    width: auto;
}
#site-info-city, #site-info-title {
    color: white;
    font-style: normal;
    line-height: 1.2;
}

/* warning in top right of header */
#leaf-warning {
    height: 100%;
    margin-left: auto;
    display: flex;
    align-items: center;
    text-align: right;
}
#leaf-warning, #leaf-warning h4 {
    color: var(--BG-VividOrange) !important;
}
#leaf-warning a, #leaf-warning a:hover, #leaf-warning a:focus, #leaf-warning a:visited  {
    color: white;
    text-decoration: underline;
    line-height: 1.2;
}

/* bottom dark navy nav ribbon.  container for links and user info */
nav#leaf-vue-nav {
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    height: var(--navRibonHeight);
    background-color: var(--BG-DarkNavy);
    font-size: 0.95rem;
    z-index: 999;
}
nav#leaf-vue-nav i {
    color: var(--USWDS-Cyan);
}
nav#leaf-vue-nav > ul {
    height: 75%;
    display: flex;
}
nav#leaf-vue-nav li {
    list-style-type: none;
    display: inline-block;
    white-space: nowrap;
}

nav#leaf-vue-nav > ul > li {
    padding: 0 0.25em;
    position: relative;
    border-radius: 2px;
    display: flex;
    align-items: center;
}

nav#leaf-vue-nav a {
    text-decoration: none;
    display: inline-block;
    width: 100%;
    height: 100%;
    color: var(--USWDS-LtGray);
    border-left: 2px solid transparent;
}
nav#leaf-vue-nav a:hover,
nav#leaf-vue-nav a:focus,
nav#leaf-vue-nav a:active,
nav#leaf-vue-nav a.active {
    color: #eef;
    background-color: var(--BaseNavy);
}
nav#leaf-vue-nav a:focus {
    border-left: 2px solid #f0f0ff !important;
}

nav#leaf-vue-nav > ul > li > a {
    padding: 0.2em 0.4em;
    border-radius: 2px;
    display: flex;
    align-items: center;
}
nav#leaf-vue-nav .sublinks a {
    color: var(--USWDS-LtGray);
    padding: 0.7em 0.4em;
}
nav#leaf-vue-nav .sublinks a:hover,
nav#leaf-vue-nav .sublinks a:focus,
nav#leaf-vue-nav .sublinks a:active,
nav#leaf-vue-nav .sublinks a.active {
    color: #fff;
    border-left: 2px solid var(--USWDS-Cyan);
}


/* sublinks and inner-sublinks are the ul elements */
nav#leaf-vue-nav .sublinks {
    padding: 0.25em;
    min-width: 150px;
    position: absolute;
    top: 100%;
    left: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--BG-DarkNavy);
    border-top: 2px solid var(--BG-DarkNavy);
    box-shadow: 0 4px 10px 1px rgba(0,0,20,0.2);
    font-size: 0.8rem;
}
nav#leaf-vue-nav .inner-sublinks a {
    color: #eef;
    background-color: var(--BaseNavy);
    border-bottom: 1px solid var(--LtNavy);
}
nav#leaf-vue-nav .inner-sublinks a:focus {
    border-bottom: 1px solid var(--LtNavy)!important;
}
nav#leaf-vue-nav .sublinks li {
    position: relative;
}
nav#leaf-vue-nav .sublinks i {
    float: right;
}
nav#leaf-vue-nav .inner-sublinks {
    padding: 0.25em;
    position: absolute;
    top: -0.25em;
    left: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--LtNavy);
    min-width: 150px;
    box-shadow: 0 -3px 15px 4px rgba(0,0,20,0.25);
    font-size: 0.8rem;
    transition: all 0.1s ease;
}

/* user info section  */
#nav-user-info #nav-user-icon {
    color: white;
    font-size: 18px;
    margin: 0 0.25em 0 0;
}
ul#nav-user-info ul {
    width: 100%;
}
ul#nav-user-info {
    font-size: 0.8rem;
}
ul#nav-user-info p {
    margin-top: 0.2em;
}

/* for screen sizes specifically */
@media (max-width: 768px) {
    nav#leaf-vue-nav {
        font-size: 82%;
        padding-left: 0;
    }
}
@media (max-width: 600px) {
    nav#leaf-vue-nav .inner-sublinks {
        position: relative;
        left: 0;
        top: 0;
    }
}