.indicatorOption {
    padding: 4px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.indicatorOption:hover {
    text-overflow: clip;
    overflow: visible;
    white-space: normal;
}