/* Orig: http://www.responsivegridsystem.com/calculator/ */
/*  SECTIONS  */
.section {
    clear: both;
    padding: 0px;
    margin: 0px;
}

/*  COLUMN SETUP  */
.col {
    display: block;
    float:left;
    margin: 0 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF FIVE  */
.span_5_of_5 {
    width: 100%;
}
.span_4_of_5 {
    width: 79.68%;
}
.span_3_of_5 {
    width: 59.36%;
}
.span_2_of_5 {
    width: 39.04%;
}
.span_1_of_5 {
    width: 18.72%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 768px) {
    .col {  margin: 0 0 1% 0%; }
    .span_1_of_5, .span_2_of_5, .span_3_of_5, .span_4_of_5, .span_5_of_5 { width: 100%; }
}
