paths:
    migrations: '%%PHINX_CONFIG_DIR%%/db/migrations'
    seeds: '%%PHINX_CONFIG_DIR%%/db/seeds'

environments:
    default_migration_table: phinxlog
    default_database: nexus_testing

    nexus_testing:
        adapter: mysql
        host: 127.0.0.1
        name: nexus_testing
        user: dbuser
        pass: 'dbpass'
        port: 3306
        charset: utf8

version_order: creation
