<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.testng.eclipse.launchconfig">
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_ATTR_USE_ARGFILE" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_SHOW_CODEDETAILS_IN_EXCEPTION_MESSAGES" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_CLASSPATH_ONLY_JAR" value="false"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.testng.remote.RemoteTestNG"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="LEAF-Automation"/>
    <mapAttribute key="org.testng.eclipse.ALL_CLASS_METHODS"/>
    <listAttribute key="org.testng.eclipse.CLASS_TEST_LIST"/>
    <booleanAttribute key="org.testng.eclipse.DEBUG" value="false"/>
    <listAttribute key="org.testng.eclipse.GROUP_LIST"/>
    <listAttribute key="org.testng.eclipse.GROUP_LIST_CLASS"/>
    <stringAttribute key="org.testng.eclipse.LOG_LEVEL" value="2"/>
    <listAttribute key="org.testng.eclipse.PACKAGE_TEST_LIST"/>
    <stringAttribute key="org.testng.eclipse.PROTOCOL" value="json"/>
    <listAttribute key="org.testng.eclipse.SUITE_TEST_LIST">
        <listEntry value="C:\DEV\eclipse-workspaces\LEAF-Workspace\LEAF-Automation\src\TestCurrentWork.xml"/>
    </listAttribute>
    <intAttribute key="org.testng.eclipse.TYPE" value="3"/>
    <booleanAttribute key="org.testng.eclipse.VERBOSE" value="false"/>
</launchConfiguration>
