/.project
*/templates_c/*.tpl.php
*/admin/templates_c/*.tpl.php
db_config.php
config.php
libs/dynicons/cache/*.svg
.buildpath
libs/qrcode/cache/*.png
LEAF_Nexus/globals.php
LEAF_Request_Portal/globals.php
LEAF_Nexus/UPLOADS
LEAF_Request_Portal/UPLOADS
