/node_modules
/public/hot
/public/storage
/public/php_errors.log
/storage/*.key
.env
.phpunit.result.cache
.vscode
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
php_errors.log

/vendor/dnoegel/php-xdg-base-dir/tests
/vendor/dragonmantank/cron-expression/tests
/vendor/filp
/vendor/fzaninotto/faker
/vendor/hamcrest/hamcrest-php/tests
/vendor/jakub-onderka
/vendor/laravel/slack-notification-channel
/vendor/lcobucci/jwt/test
/vendor/mockery
/vendor/monolog/monolog/doc
/vendor/monolog/monolog/tests
/vendor/nexmo
/vendor/nikic
/vendor/paragonie/random_compat/other/build_phar.php
/vendor/phar-io
/vendor/phpdocumentor
/vendor/phpspec
/vendor/phpunit
/vendor/psy
/vendor/sebastian
/vendor/swiftmailer
/vendor/symfony/console/Tests
/vendor/symfony/console/Tester
/vendor/symfony/contracts/Tests
/vendor/symfony/css-selector/Tests
/vendor/symfony/debug/Tests
/vendor/symfony/event-dispatcher/Tests
/vendor/symfony/finder/Tests
/vendor/symfony/http-foundation/Tests
/vendor/symfony/http-kernel/Tests
/vendor/symfony/process/Tests
/vendor/symfony/routing/Tests
/vendor/symfony/translation/Tests
/vendor/symfony/var-dumper/Tests
/vendor/theseer
/vendor/webmozart
