/.project
/.idea
/.run
/node_modules
node_modules
package-lock.json
.buildpath
.vs
.vscode
.DS_Store
test_logins.txt
*/auth_dev/*

*/templates_c/*.tpl.php
*/admin/templates_c/*.tpl.php
*/admin/templates_c/
LEAF_Request_Portal/templates_history/*
LEAF_Request_Portal/templates/email/custom_override/*
LEAF_Request_Portal/templates_c/email/custom_override/*
LEAF_Request_Portal/templates/reports/custom_dev*
LEAF_Request_Portal/files/custom_dev*
LEAF_Request_Portal/files/temp_leaf_timeline_data.txt

LEAF_Request_Portal/templates/custom_override/*
LEAF_Nexus/templates/custom_override/*
LEAF_Request_Portal/qrcode/cache/tmp*
LEAF_Nexus/qrcode/cache/tmp*

LEAF_Request_Portal/sources/DbConfig.php
libs/dynicons/cache/*.svg
app/libs/dynicons/cache/*.svg
libs/qrcode/cache/*.png
app/libs/dynicons/cache/*.svg
app/libs/qrcode/cache/*.png

LEAF_Nexus/UPLOADS
LEAF_Request_Portal/UPLOADS

/LEAF_Request_Portal/templates_c/mailer/

docker/nginx/nginx.conf
libs/css/leaf.js