@import '../common/LEAF_Vue_Dialog__Common.scss';

body {
    background-color: $BG_LightGray;
}
footer#footer {
    margin: 2rem 0 0 0;
    padding: 0.5em 1em;
    width: 100%;
    line-height: 1.8;
    a {
        color: #252f3e;
    }
}
#site-designer-app {
    min-height: 100vh;
    main > section {
        margin: 0;
        padding: 1em;
        min-height: 100vh;
    }
    button:not(.choices__button) {
        height: 28px;
    }
    .loading {
        border: 2px solid black;
        text-align: center; 
        font-size: 24px;
        font-weight: bold;
        padding: 16px;
        background-color: white;
    }
}

#site-designer-app, #leaf_dialog_content {
    h1, h2, h3, h4, p {
        margin: 0;
    }
    h2 {
        font-size: 24px;
    }
    h3 {
        font-size: 19px;
    }
    p {
        line-height: 1.4;
    }
    .btn-confirm.enabled {
        background-color: $attention;
        border: 2px solid black;
    }
    button:disabled {
        background-color: gray;
    }

    label:not(.leaf_check) {
        display: block;
    }
    textarea, input, select {
        margin-top: 2px;
        display: block;
        width: 100%;
    }
    input, select {
        height: 25px;
    }
    input[type="color"] {
        padding: 0 2px;
    }
    textarea {
        min-height: 60px;
        resize: none;
    }


    .designer_inputs {
        display:flex;
        gap:1rem;
        padding: 0.5em 0;
        &.wrap {
            flex-wrap: wrap;
        }
        &.col {
            flex-direction: column;
        }
    }
    #page_select_area {
        padding: 1em;
        display:flex;
        flex-direction: column;
        gap: 1rem;
        margin-bottom: 3rem;
        > div {
            display: flex;
            gap: 1rem;
        }
    }

    #menu_and_search {
        margin: auto;
        width: -moz-fit-content;
        width:fit-content;
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        &.editMode {
            justify-content: center;
        }
    }

    #searchContainer {
        margin-top: -2px;
        table.leaf_grid {
            border: 1px solid black;
            border-collapse: collapse;
            margin: 2px;
            width: auto;
        }
        td {
            width: auto;
            vertical-align: middle;
            word-break: break-word;
            white-space: normal;
            background-color: white;
            &[data-clickable=true]:hover, &[data-clickable=true]:focus, &[data-clickable=true]:active {
                background-color: $LtNavy;
                > a {
                    color: white;
                }
            }
            > a {
                color: #004b76;
            }
            span {
                color: inherit;
                word-break: break-word !important;
            }
        }
        th:not([id^="Vheader_"]) {
            background-color: #D1DFFF;
        }
        .chosen-container a.chosen-single span {
            min-width: 120px;
            max-width: 175px;
            color: Black;
        }
    }

    #searchContainer .buttonNorm, #searchContainer_getMoreResults {
        background-color: #e8f2ff;
        border: 1px solid black;
        border-radius: 0;
        margin: 2px;
        cursor: pointer;
        font-size: 14px;
        padding: 0px 4px;
        border-radius: 2px;
        white-space: nowrap;
        font-weight: normal;
        overflow: visible;
        &:hover, &:focus, &:active {
            background-color: $LtNavy;
        }
    }

    section#custom_menu {
        display: flex;
        justify-content: center;
        gap: 1em 0;

        div#menu_wrapper {
            width: 100%;
            &.editMode {
                padding: 0.75em 1em;
                background-color: white;
                border-radius: 3px;
                width: 450px;
                display: flex;
                flex-direction: column;
                gap: 1rem;
            }
        }

        ul#menu {
            display: flex;
            justify-content: center;
            gap: 1em 0;

            li {
                display: flex;

                &.editMode {
                    cursor: grab;
                }

                div.edit_card {
                    margin-left: 1rem;
                    cursor: auto;
                    position: relative;
                    @include flexcenter;
                    flex-direction: column;
                    div.click_to_move {
                        border: 8px solid transparent;
                        &:hover, &:focus, &:active {
                            cursor: pointer;
                        }
                        &.up {
                            margin-bottom: 0.25rem;
                            border-top: 0;
                            border-bottom: 12px solid $base_navy;
                        }
                        &.down {
                            margin-top: 0.25rem;
                            border-bottom: 0;
                            border-top: 12px solid $base_navy;
                        }
                    }
                    button.edit_menu_card {
                        padding: 2px 6px 3px 6px;
                    }
                    .notify_status {
                        cursor: auto;
                        position: absolute;
                        top: 50%;
                        right: 0;
                        transform: translate(calc(100% + 0.75rem), -60%);
                        color: $base_navy;
                        &.hidden {
                            color: $attention;
                            font-weight: bold;
                        }
                    }
                }

            }
        }
    }

    #design_card_modal {
        textarea {
            width: 300px;
            height: 60px;
            resize: none;
        }
        .enable_del {
            display: flex;
            flex-direction:column;
            margin-left: auto;
            width: 130px;
        }
        input[type="color"] {
            width: 50px;
        }
    }
    
    a.custom_menu_card {
        display: flex;
        align-items: center;
        width: 300px;
        min-height: 55px;
        padding: 4px 6px;
        text-decoration: none;
        border: 2px solid transparent;
        box-shadow: 0 0 6px rgba(0,0,25,0.3);
        transition: all 0.35s ease;
        &:hover, &:focus, &:active {
            border: 2px solid white !important;
            box-shadow: 0 0 8px rgba(0,0,25,0.6);
            z-index: 10;
        }

        img.icon_choice {
            cursor: auto;
            margin-right: 0.5rem;
            width: 50px;
            height: 50px;
        }
        div.card_text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-self: stretch;
            width: 100%;
            min-height: 55px;
            h2, div {
                font-family: Verdana, sans-serif;
                font-size: 14px;
            }
            h2 {
                font-size: 20px;
            }
        }
    }

    #edit_header, #edit_search {
        margin: 0 auto;
        padding: 0.75em 1em;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        background-color: white;
        border-radius: 3px;
        width: min-content;
    }

    #custom_header_wrapper { //display area
        margin: 1rem auto 2rem auto;
        width: fit-content;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.25em 0.5em;
        font-family: Verdana, sans-serif;
        #custom_header_image_container {
            position: relative;
            overflow: hidden;
            img {
                display: block;
            }
        }
        #custom_header_inner_text, #custom_header_outer_text {
            > * {
                margin: 0;
                font-family: Verdana, sans-serif;
                color: inherit;
            }
        }
        #custom_header_inner_text {
            position: absolute;
            width: 100%;
            top: 0;
            padding: 0.25em 0.5em;
        }
        h1 {
            font-size: 32px;
        }
        h2 {
            font-size: 24px;
        }
        h3 {
            font-size: 20.8px;
        }
        h4 {
            font-size: 16px;
        }
    }

    #edit_search {
        width: 450px;
    }


    .disableClick {
        pointer-events: none;
    }

}