@import '../common/LEAF_Vue_Dialog__Common.scss';

body {
    background-color: #f3f3f3;
}

#site-designer-app {
    min-height: 100vh;
    main > section {
        margin: 1rem;
    }
}

#site-designer-app, #leaf_dialog_content {
    h1, h2, h3, h4 {
        margin: 0;
        color: black;
    }

    ul#menu_designer {
        @include fit;
        margin: 1rem 0;
        padding: 0.75rem;
        background-color: white;
        border: 1px solid #aab;
        display: flex;
        flex-direction: column;

        li {
            cursor: grab;
            margin: 0.5rem 0;
            display: flex;

            div.edit_card {
                cursor: auto;
                position: relative;
                @include flexcenter;
                button.edit_menu_card {
                    padding: 2px 6px 3px 6px;
                    margin-left: 0.75rem;
                }
                .notify_disabled {
                    cursor: auto;
                    position: absolute;
                    top: 50%;
                    right: 0;  /* 0.75 padding + same amt margin */
                    transform: translate(calc(100% + 1.5rem), -50%);
                }
            }

        }
    }

    #design_button_modal {
        .designer_inputs {
            display:flex;
            gap:1rem;
            margin-bottom:0.5rem;

            &.wrap {
                flex-wrap:wrap;
            }
        }
    }
    

    .custom_menu_card {
        display: flex;
        align-items: center;
        width: 300px;
        min-height: 55px;
        padding: 6px 8px;
        text-decoration: none;
        border: 2px solid transparent;
        box-shadow: 0 0 4px rgba(0,0,25,0.4);

        &:hover, &:focus, &:active {
            border: 2px solid white;
        }

        .icon_choice {
            cursor: auto;
            margin-right: 0.5rem;
            width: 50px;
            height: 50px;
        }
        .card_text {
            font-family: Verdana, sans-serif;
            display: flex;
            gap: 3px;
            flex-direction: column;
            justify-content: center;
            align-self: stretch;
            width: 100%;
            min-height: 55px;
        }
        div.LEAF_custom * {
            margin: 0;
            padding: 0;
            font-family: inherit;
            color: inherit; /* prevents override of color choices and interference w other styles*/
        }
    }
    
    .disableClick {
        pointer-events: none;
    }

}

