body {
  background-color: #f3f3f3;
  font-family: verdana;
}

span {
  color: black;
  font-family: verdana;
  font-size: 12px;
}

label {
  float: left;
  width: 150px;
  text-align: right;
}

#body {
  padding: 0px;
  text-align: center;
  width: 100%;
}

#header {
  font-family: serif;
  font-weight: bold;
  background-image: url("../images/gradient.png");
  width: 100%;
  height: 80px;
  border-bottom: 2px solid #5a79a5;
  margin-bottom: 4px;
}

#footer {
  float: right;
  clear: both;
  text-align: right;
  padding: 4px;
  font-size: 10px;
}

#footer a:link,
#footer a:visited {
  color: #b7b7b7;
  text-decoration: none;
}

#footer a:hover {
  color: #f04e0b;
}

span#headerLabel {
  position: absolute;
  color: #17008a;
  left: 80px;
  top: 44px;
  font-size: 16px;
}

#headerDescription {
  margin: 0;
  position: absolute;
  font-size: 24px;
  color: black;
  left: 80px;
  top: 16px;
}

span#headerHelp {
  position: absolute;
  top: 8px;
  right: 10px;
  font-size: 10px;
  font-weight: normal;
}

span#headerLogin {
  position: absolute;
  top: 24px;
  right: 10px;
  font-size: 12px;
  font-weight: normal;
  text-align: right;
}

span#headerMenu {
  position: relative;
  top: 45px;
  float: right;
  font-size: 12px;
  font-weight: normal;
  text-align: right;
}

span#headerTabImg {
  position: relative;
  top: 49px;
  height: 32px;
  float: right;
  color: white;
  font-size: 14px;
  font-weight: bold;
  text-align: right;
  /*    background-image: url(../images/tab.gif);
    background-repeat: no-repeat;*/
}

span#headerTab {
  position: relative;
  top: 49px;
  height: 32px;
  float: right;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: right;
  /*    background-image: url(../images/tab.gif);
    background-repeat: no-repeat;*/
  background-color: #5a79a5;
}

#content {
  padding: 4px;
  margin: 0px auto;
  text-align: left;
}

.alert {
  font-weight: bold;
  font-size: 16px;
  background-color: #ee9a9a;
  color: #000000;
  border: 2px dashed black;
  padding: 4px;
}

.item {
  padding-bottom: 4px;
}

.numspinner {
  width: 70px;
}

.mainform {
}

.formblock {
}

.mainlabel {
}

.sublabel {
}

.response {
  padding: 5px;
}

.text {
}

table#tform {
  background-color: #fff;
  border: 1px solid #ddd;
  empty-cells: show;
  text-align: left;
}

table#tform th {
  border: 0;
  color: #777;
  margin: 0 0 5px 0;
  padding: 5px 0 10px 5px;
  font-size: 90%;
  font-weight: normal;
}

table#tform td {
  color: #444;
  padding: 3px;
  border: 0;
  font-size: 13px;
}

.printmainform {
  border: 1px solid black;
}

.printformblock {
}

.printmainblock {
}

.printsubblock {
  float: left;
}

.printmainlabel {
  padding-bottom: 4px;
}

.printcounter span {
  padding: 4px;
  margin-right: 4px;
  font-size: 24px;
  font-weight: bold;
  background-color: black;
  color: white;
  float: left;
}

.printheading {
  padding: 4px;
  border-top: 2px solid black;
  background-color: #e0e0e0;
}

.printheading_missing {
  padding: 4px;
  border-top: 2px solid black;
  background-color: #ee9a9a;
}

div.printsubheading {
  position: relative; /* ie6 workaround */
  padding: 4px 16px 4px 16px;
  border-bottom: 1px solid black;
  background-color: #f4f4f4;
}

div.printsubheading_missing {
  position: relative; /* ie6 workaround */
  padding: 4px 16px 4px 16px;
  border-bottom: 1px solid black;
  background-color: #ee9a9a;
}

span.printsubheading {
  font-weight: normal;
  font-size: 10px;
}

.printsublabel {
  background-color: white;
}

div.printResponse {
  float: left;
  padding: 0px 16px 8px 16px;
  page-break-before: avoid;
  page-break-after: auto;
}

span.printResponse {
  font-size: 12px;
}

span.printResponse li {
  margin-left: 24px;
  padding: 2px;
}

table.agenda {
  border: 1px solid black;
  border-collapse: collapse;
}

.agenda td {
  padding: 8px 4px 8px 4px;
  border: 1px solid black;
}

.agenda a {
  font-weight: bold;
}

span.approval_approved {
  color: green;
}

span.approval_disapproved {
  color: red;
}

.widget {
  display: none;
}

.menuButton {
  float: left;
  width: 350px;
  height: 70px;
  cursor: pointer;
  margin: 16px;
  *-overflow: hidden; /* ie6 still sucks */
}

.menuIcon {
  float: left;
  width: 96px;
  height: 96px;
  background-position: center center;
  background-repeat: no-repeat;
}

.menuText {
  padding: 4px;
  font-size: 20px;
  font-weight: bold;
}

.menuDesc {
  font-size: 14px;
}

.signatureArea {
}

.print {
  display: inline;
  visibility: visible;
}

.noprint {
  display: none;
  visibility: hidden;
}

img {
  display: none;
  visibility: collapse;
}

.printResponse img{
  display: initial;
  visibility: initial;
}

div#tabcontainer_tablist {
  display: none;
  visibility: hidden;
}

div#maincontent {
  width: 99% !important;
}

table.table {
  border: 1px solid black;
  border-collapse: collapse;
  margin: 2px;
}

.table td {
  border: 1px solid black;
  font-size: 11px;
}

.workflowCommentBox {
  float: left;
  border: 0px;
  border-top: 1px dashed black;
  border-bottom: 1px dashed black;
  height: 10px;
  width: 500px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.workflowActionButton {
  float: none !important;
  text-align: right;
}

#requestTitle {
  float: left;
  font-size: 24px;
  padding: 8px;
}

#requestInfo {
  float: right;
  font-size: 12px;
}
