/* loaded for index.php a=reports (view_reports) */

.indicatorOption {
    padding: 4px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.subIndicatorOption {
    margin-left: 32px;
    padding: 4px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.group:after, 
.section {
    clear:both
} 
.section {
    padding:0;
    margin:0
}
.col {
    display:block;
    float:left;
    margin:1% 0 1% 1.6%
}
.col:first-child {
    margin-left:0
}
.group:after,.group:before {
    content:"";
    display:table
}
.group {
    zoom:1 
}
.span_3_of_3 {
    width:100%
}
.span_2_of_3 {
    width:66.13%
}
.span_1_of_3 {
    width:32.26%
}
@media only screen and (max-width:480px) {
    .col {
        margin:1% 0
    }
    .span_1_of_3,.span_2_of_3,.span_3_of_3 {
        width:100%
    }
}