.TEST {
    margin: 15px;
    color: #b00;
    font-style: italic;
    font-size: 80%;
    background-color: white;
    padding: 0.75em;
}

#condition_editor_content {
    margin: 20px;
    display: grid;
    grid-gap: 10px 20px;
    grid-template-columns: repeat(24, 1fr);
    min-width: fit-content;
    max-width: 1440px;
}
#condition_editor_content h3 {
    margin: 0 0 0.75em;
}
#condition_editor_content h4 {
    margin: 0.75em 0;
}
#condition_editor_content hr {
    margin: 1em auto;
}
#condition_editor_content ul {
    padding: 0;
    margin: 0;
}
#condition_editor_content li {
    list-style-type: none;
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0;
}

#condition_editor_list {
    grid-column: 1 / span 6; 
}
#condition_editor_main_panel {
    grid-column: 8 / span 12; 
}

#condition_editor_actions, #condition_editor_list, 
#condition_editor_inputs {
    background-color: white;
    height: fit-content;
    min-width: 175px;
    padding: 0.75em;
    margin: 0.75em 0;
    border-radius: 4px;
}

/* option tags cannot be styled easily  */
#condition_editor_content select {
    font-size: 85%;
    margin-bottom: 1em;
    text-overflow: ellipsis;
    width: 100%;
}
#condition_editor_list select {
    margin: 0;
}

#condition_editor_content button {
    padding: 0.2em 0.4em;
    width: 100%;
    cursor: pointer;
}
.btn-condition-select {
    text-align: left;
    line-height: 1.6;
    border: 0;
    background-color: white;
    border-left:3px solid transparent;
    border-bottom: 1px solid rgb(172, 181, 185);
}
.btn-condition-select:hover, .btn-condition-select:active, .btn-condition-select:focus {
    border-left:3px solid #005EA2 !important; 
    border-bottom: 1px solid rgb(172, 181, 185) !important;  
    background-color: rgb(180, 231, 255); 
}

#btn_add_condition, #btn_form_editor, #btn_cancel {
    border-radius: 3px;
}

#btn_add_condition {
    background-color: #00A91C;
    border: 1px solid #00A91C !important; /*NOTE: avoids some leaf styling */
    color: white;
}
#btn_form_editor, #btn_cancel {
    background-color: white;
    color: #005EA2;
    border: 1px solid #005EA2 !important;
}
#btn_add_condition:hover, #btn_add_condition:active, #btn_add_condition:focus,
#btn_form_editor:hover, #btn_form_editor:active #btn_form_editor:focus {
    border: 1px solid #000 !important; /*NOTE: avoids some leaf styling */
    background-color: #005EA2;
    color: white;
}
.edit-form-name {
    color: #005EA2;
    font-weight: bold;
}

@media only screen and (max-width: 1200px) {
    #condition_editor_list {
        grid-column: 1 / span 8; 
    }
    #condition_editor_main_panel {
        grid-column: 9 / span 16;
    }
}

@media only screen and (max-width: 769px) {
    #condition_editor_list, #condition_editor_main_panel {
        grid-column: 1 / span 24; 
    }
}