div.groupBlock {
    float: left;
    border: 1px solid black;
    width: 220px;
    min-height: 110px;
    margin: 8px;
    padding: 0px;
    cursor: pointer;
    background-color: white;
}

div.groupBlock:hover {
    background-color: #fffdc2;
}

div.groupBlock div {
    padding: 4px;
}

div.groupBlock h2 {
    font-size: 14px;
    margin: 0px;
    padding: 2px;
    font-weight: normal;
    background-color: black;
    color: white;
    cursor: pointer;
}

div.groupBlock h2:first-letter {
    font-size: 150%;
    font-weight: bold;
}

div#groupList div div span:hover {
    background-color: #87dfff;
    font-weight: bold;
    cursor: pointer;
}