<?php
const PRODUCT_NAME = 'VA Light Electronic Action Framework';
const VERSION_NUMBER = '4.0.0';

const DIRECTORY_HOST = 'HOSTNAME';
const DIRECTORY_DB = 'DB_NAME';
const DIRECTORY_USER = 'USERNAME';
const DIRECTORY_PASS = 'PASSWORD';

const LEAF_NEXUS_URL = 'https://www.example.com/'; // trailing slash required
const HTTP_HOST = 'www.example.com';

const AUTH_URL = 'example.com/auth';

const AUTH_TYPE = 'cookie';

const CIPHER_KEY = 'example-key';
