name: leaf
services:
    # Primary Components
    php-fpm:
        env_file:
            - ./env_files/globals_local.env
            - ./env_files/secrets.env
            - ./env_files/globals_leaf20_local.env
        build:
            context: ../
            dockerfile: docker/php/leaf_monlith.dockerfile
            args:
                - BUILD_UID=${BUILD_UID}
                - SMTP_HOST=smtp4dev
                - MAIL_HUB=smtp4dev
        volumes:
            - ./env_files/leaf.key:/etc/ssl/certs/leaf.key
            - ./env_files/leaf.pem:/etc/ssl/certs/leaf.pem
            - ../LEAF_Request_Portal/vafavicon.ico:/var/www/html/favicon.ico
            - ../LEAF_Request_Portal/vafavicon.ico:/var/www/html/LEAF_Nexus/vafavicon.ico
            # - ../launchpad:/var/www/html/launchpad  # Dev should echo prod as exact as possible.  Will be added later
            - ../LEAF_Nexus:/var/www/html/LEAF_NationalNexus
            - ../LEAF_Nexus:/var/www/html/LEAF_Nexus
            - ../LEAF_Nexus:/var/www/html/Test_Nexus
            - ../LEAF_Request_Portal:/var/www/html/LEAF_Request_Portal
            - ../LEAF_Request_Portal:/var/www/html/Test_Request_Portal
            - ../LEAF_Request_Portal:/var/www/html/LEAF/library
            - ../LEAF_Request_Portal:/var/www/html/platform/agent
            - ../scripts:/var/www/scripts
            - ../LEAF_library_test_uploads:/var/www/LEAF_library_test_uploads
            - ../health_checks:/var/www/html/health_checks
            - ../app:/var/www/html/app
            - ../libs:/var/www/html/libs # temp step.  Will shift to below later
            - ../docker/mysql/db:/var/www/db
            - ./php/dev:/var/www/html/dev
        networks:
            - leaf-sql
            - leaf
        environment:
            - REMOTE_USER=${REMOTE_USER}
            - APACHE_RUN_USER=build_user
    php-fpm-api:
        env_file:
            - ./env_files/globals_local.env
            - ./env_files/secrets.env
            - ./env_files/globals_leaf20_local.env
        build:
            context: ../
            dockerfile: docker/phpapi/leaf_monlith.dockerfile
            args:
                - BUILD_UID=${BUILD_UID}
                - SMTP_HOST=smtp4dev
                - MAIL_HUB=smtp4dev
        volumes:
            - ./env_files/leaf.key:/etc/ssl/certs/leaf.key
            - ./env_files/leaf.pem:/etc/ssl/certs/leaf.pem
            - ../LEAF_Request_Portal/vafavicon.ico:/var/www/html/favicon.ico
            - ../LEAF_Request_Portal/vafavicon.ico:/var/www/html/LEAF_Nexus/vafavicon.ico
            # - ../launchpad:/var/www/html/launchpad  # Dev should echo prod as exact as possible.  Will be added later
            - ../LEAF_Nexus:/var/www/html/LEAF_NationalNexus
            - ../LEAF_Nexus:/var/www/html/LEAF_Nexus
            - ../LEAF_Nexus:/var/www/html/Test_Nexus
            - ../LEAF_Request_Portal:/var/www/html/LEAF_Request_Portal
            - ../LEAF_Request_Portal:/var/www/html/Test_Request_Portal
            - ../LEAF_Request_Portal:/var/www/html/LEAF/library
            - ../LEAF_Request_Portal:/var/www/html/platform/agent
            - ../scripts:/var/www/scripts
            - ../LEAF_library_test_uploads:/var/www/LEAF_library_test_uploads
            - ../health_checks:/var/www/html/health_checks
            - ../app:/var/www/html/app
            - ../libs:/var/www/html/libs # temp step.  Will shift to below later
            - ../docker/mysql/db:/var/www/db
            - ./php/dev:/var/www/html/dev
        networks:
            - leaf-sql
            - leaf
        environment:
            - REMOTE_USER=${REMOTE_USER}
            - APACHE_RUN_USER=build_user
    mysql:
        image: mysql:8.0
        ports:
            - "3306:3306"
        env_file:
            - ./env_files/mysql_local.env
            - ./env_files/secrets.env
        command: mysqld --sql_mode="NO_ENGINE_SUBSTITUTION" # set same mode as prod
        #healthcheck:
        #  test: "mysqladmin ping -h localhost -u $${MYSQL_USER} -p$${MYSQL_PASSWORD}"
        #  start_interval: 1s
        #  timeout: 1s
        #  retries: 5
        networks:
            - leaf-sql
        volumes:
            - leaf-dev-mysql-data:/var/lib/mysql
            - ./mysql/dev_bootstrap.sh:/docker-entrypoint-initdb.d/dev_bootstrap.sh # this only runs if leaf-dev-mysql-data doesn't exist
            - ./mysql/db/boilerplate:/leaf-boilerplate
            - ./mysql/dev_db:/leaf-dev_db

    nginx:
        env_file:
            - ./env_files/nginx_local.env
        build:
            context: ../
            dockerfile: docker/nginx/leaf_nginx.dockerfile
        volumes:
            - ./env_files/leaf.key:/etc/ssl/certs/leaf.key
            - ./env_files/leaf.pem:/etc/ssl/certs/leaf.pem
            - ./nginx/src:/var/www/html
            - ./nginx/leaf_nginx.conf.template:/etc/nginx/templates/default.conf.template
        volumes_from:
            - php-fpm
        ports:
            - 80:${HTTP_PORT}
            - 443:${HTTPS_PORT}
        depends_on:
            - php-fpm
        networks:
            - leaf
    
            

    leaf-agent:
        image: golang:1
        volumes:
            - "../LEAF_Agent/:/app"
            - "../pkg/:/pkg"
        ports:
            - "8088:8000"
        env_file:
            - ./env_files/globals_local.env
            - ./env_files/secrets.env
        networks:
            - leaf
            - leaf-sql
        working_dir: /app
        entrypoint: go run .
        extra_hosts:
            - host.docker.internal:host-gateway

    # Development
    vue-ui:
        env_file:
            - ./env_files/vue_ui_local.env
        build:
            context: ./vue-app
            dockerfile: leaf_vue.dockerfile
        volumes:
            - "./vue-app/src:/app/src"
            - "/app/node_modules"
            - "../app/libs/js/vue-dest:/app/vue-dest"
            - "../app/libs/css:/app/css"
        networks:
            - leaf-sql
            - leaf

    smtp4dev:
        image: rnwood/smtp4dev
        env_file:
            - ./env_files/globals_local.env
            - ./env_files/secrets.env
        ports:
            - "5080:80"
        networks:
            - leaf

    adminer:
        image: adminer
        environment:
            ADMINER_DEFAULT_SERVER: mysql
        ports:
            - "8080:8080"
        networks:
            - leaf-sql

    # Automated testing
    api-test-helper:
        image: golang:1
        volumes:
            - "../LEAF-Automated-Tests/api-test-helper/:/app"
            - "../LEAF-Automated-Tests/API-tests/:/API-tests"
            - "../LEAF_Agent/:/LEAF_Agent"
            - "../pkg/:/pkg"
        ports:
            - "8000:8000"
        env_file:
            - ./env_files/globals_local.env
            - ./env_files/secrets.env
        networks:
            - leaf
            - leaf-sql
        working_dir: /app
        entrypoint: go run .
        extra_hosts:
            - host.docker.internal:host-gateway

    playwright:
        build:
            context: ../
            dockerfile: docker/playwright/playwright.dockerfile
        stdin_open: true # docker run -i
        tty: true        # docker run -t
        volumes:
            - ../LEAF-Automated-Tests/end2end/:/usr/app/leaf
            - /usr/app/leaf/node_modules
        ports:
            - "8001:8001"
        env_file:
            - ./env_files/globals_local.env
            - ./env_files/secrets.env
        networks:
            - leaf
            - leaf-sql
        extra_hosts:
            - host.docker.internal:host-gateway

volumes:
    leaf-php-data:
        external: true
    leaf-lib:
        external: true
    leaf-dev-mysql-data:
        external: false

networks:
    leaf-sql:
    leaf:
