version: "3.9"

services:
  leaf-php-8:
    image: pelentan/leaf-swarm:production
    env_file: 
      # - ./env_files/globals_swarm.env
      - ./env_files/globals_swarm_prod.env
      - ./env_files/globals_prod.leaf2.env
      # - ./env_files/secrets.env
    ports:
      - 80:80
      - 443:443
      - 9000:9000
    volumes:
      - /mnt/leaf/:/var/www/
    command: 'source /startup.sh'
    networks:
      - leaf
    deploy:
      mode: replicated
      replicas: 1 
      restart_policy:
        condition: on-failure
      resources:
        limits:
          memory: 70gb
    sysctls:
      - net.ipv4.ip_local_port_range: "15000 64000"
      - net.ipv4.tcp_fin_timeout: "60"
      - net.ipv4.tcp_tw_reuse: "1"
    healthcheck:
      test: curl --fail http://localhost/ || exit 1
      interval: 20s
      timeout: 20s
      start_period: 600s
      retries: 2
    labels:
      - "traefik.enable=true"

    secrets:
      - source: leaf_key
        target: /etc/ssl/certs/leaf.key
      - source: leaf_pem
        target: /etc/ssl/certs/leaf.pem
      - source: leaf_pem
        target: /etc/ssl/certs/test_leaf.pem
      - source: db_password
      - source: db_host
      - source: db_admin
      - source: krb_user
      - source: krb_pass
      - source: cdw_user
      - source: cdw_host
      - source: cdw_pass
      - source: cipher_key
        # - source: db_host_ip

  leaf-adminer:
    image: adminer
    environment:
      ADMINER_DEFAULT_SERVER: leaf-mysql
    ports:
      - "8080:8080"
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=traefik"
      - "traefik.http.services.leaf_adminer.loadbalancer.server.port=8080"
      - "traefik.http.routers.leaf_adminer.rule=Host(`leaf-adminer.dev.vovina-tisa.net`)"
      - "traefik.http.routers.leaf_adminer.entrypoints=web, web-secure"
      - "traefik.http.routers.leaf_adminer.tls.certresolver=dev_http"
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure


volumes:
  leaf-vol:
    external: true
  leaf:
    external: false
  leaf-vol-html:
    external: true

networks:
  leaf:
    external: false
  leaf-swarm:
    external: true

secrets:
  leaf_key:
    external: true
  leaf_pem:
    external: true
  db_password:
    external: true
  db_host:
    external: true
  db_admin:
    external: true
  krb_user:
    external: true
  krb_pass:
    external: true
  cdw_user:
    external: true
  cdw_host:
    external: true
  cdw_pass:
    external: true
  cipher_key:
    external: true
      #db_host_ip:
      # external: true
