<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners></listeners>
		<parameter name="Hub_Url" value="http://localhost:4445/wd/hub"/>
        <parameter name="env_URL" value="http://host.docker.internal/LEAF_Request_Portal/admin/"/>
        <parameter name="environment" value="local"/>
        <test thread-count="1" name="Test" parallel="classes">
            <classes>
              <!--class name="test.java.UserAccessGroupsTests"> </class -->
                <class name="test.java.WorkflowEditorTests"> </class>
                <!--class name="test.java.SiteSettingTests"> </class-->
                <!--class name="test.java.FormEditorTests"> </class-->
            </classes>
        </test> <!-- Test -->
</suite> <!-- Suite -->

