@import '../common/LEAF_Vue_Dialog__Common.scss';

nav#top-menu-nav {
    width: 100%;
    ul {
        @include flexcenter;
        justify-content: flex-start;
        color: $charcoal;
        background-color: $lt_cyan;
        border-bottom: 1px solid $charcoal;
        position: relative;
        z-index: 10;
        margin-bottom: 1rem;
    }
    li {
        @include flexcenter;
        position: relative;
        height: 32px;
        width: 175px;
        font-size: 14px;
        font-weight: bolder;
        &:not(:last-child)::after {
            content: '';
            position: absolute;
            right: 0;
            display: block;
            height: 50%;
            border-radius: 2px;
            width: 1px;
            background-color: black;
        };
        button, a {
            margin: 0;
            padding: 0;
            @include flexcenter;
            position: relative;
            background-color: inherit;
            text-decoration: inherit;
            color: inherit;
            width: 100%;
            height: 100%;
            border: 2px solid transparent;
            &:hover, &:focus, &:active {
                border: 2px solid $LEAF_CSS_outline;
                outline: none !important;
                background-color: $base_navy;
                color: white;
            }
        }
        span[role="img"] {
            margin-left: 0.25rem;
        }
    }
}


#form_browser_tables {
    h3 {
        color: black;
    }
    table {
        width: 100%;
        background-color: white;
        border-collapse: collapse;
        border: 1px solid $charcoal;
        border-radius: 2px;
        margin-bottom: 2rem;

        td,th {
            padding: 0.25rem 0.5rem;
            border: 1px solid $charcoal;
            
            a {
                padding: 0.25rem 0.5rem;
                display: flex;
                height: 100%;
                align-items: center;
                color: inherit;
                border: 2px solid transparent;
                &:hover, &:focus, &:active {
                    background-color: $lt_cyan;
                    border: 2px solid $LEAF_CSS_outline !important;
                }
            }
        }
        td.form-name {
            padding: 0;
        }
        th {
            background-color: $charcoal;
            color: white;
            border: 1px solid black;
        }
        tr:not(.header-row) {
            color: black;
            border-bottom: 1px solid $charcoal;
        }
        tr.sub-row { 
            color: #333;
            background-color: #f6f6ff;
            font-size: 85%;
            .form-name {
                padding-left: 0.75rem;
            }
        }
        .need-to-know-enabled {
            @include flexcenter;
            color: #c00;
            font-size: 12px;
        }
    }
}

/* orgchart selector fixes */
div[class$="SelectorBorder"] {
    display: flex;
    div {
        @include flexcenter;
    }
    input {
        width: 100%;
        border: 1px solid #bbb;
    }
}
table[class$="SelectorTable"] th {
    color: $charcoal;
}


#advanced_options_dialog_content {
    min-height: 50px;
    fieldset {
        min-width: 700px;
        padding: 0.5em;
        margin: 0;
        table.table {
            border-collapse: collapse;
            margin: 0;
            width: 100%;
        }
        > div.save_code {
            display:flex;
            justify-content: space-between;
            align-items: flex-end;

            img {
                width:16px;
                height: 16px;
            }
        }
    }
}


#indicator-editing-dialog-content {
    > div {
        margin-bottom: 2rem;
    }
    button {
        font-size:  80%;
    }
    input, select {
        min-height: 24px;
    }
    #name {
        width: 100%;
        margin-bottom: 0.4rem;
        padding: 0.2rem 0.4rem;
        display:block;
    }
    #description, #indicatorType, #defaultValue, #indicatorMultiAnswer {
        width: 100%;
        max-width: 100%;
    }
    #formatDetails {
        margin: 0.5rem 0;
    }
    #indicator-editing-attributes {
        position: relative;
        margin-top: 1.5rem;
        padding: 0;
        min-width: -moz-fit-content;
        min-width: fit-content;

        .attribute-row {
            display: flex;
            align-items: stretch;
            justify-content: flex-start;
            margin: 1rem 0;
        }
        #archived-warning, #deletion-warning {
            position: absolute;
            right: 0;
            top: 0;
            color: $attention;
            font-size: 90%;
        }
        #indicatorPrivileges {
            line-height: 1.4;
        }
    }
    
    div.cell {
        width: 200px;
        min-width: 200px;
        text-align: center;
        border: 1px grey solid;
        padding: 10px;
        vertical-align: top;
        display: table-cell;

        span.columnNumber {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 1rem;
            font-weight: bolder;
        }
        input, select {
            width: 100%;
            margin-bottom: 1rem;
        }
    }
}


#edit-properties-panel {
    padding: 0;
    position: relative;
    display: flex;
    margin-bottom: 1.25rem;
    background-color: white;
    border-radius: 4px;
    box-shadow: 1px 1px 2px 1px rgba(0,0,20,0.4);
    overflow: hidden;

    > div {
        min-width: 400px;
        padding: 0.75rem;
        display: flex; 
        flex-direction:column;
        width: 50%;
    }

    input, select {
        border: 1px inset #dde;
        border-radius: 2px;
        line-height: normal;
        min-height: 24px;
    }
    input {
        padding-left: 0.4em;
    }

    #edit-properties-description {
        display: flex;
        flex-direction: column;
        height: 100%;
        align-self: center;
        border-right: 1px solid $charcoal;
        min-width: 400px;
        #categoryName {
            width: 100%;
            margin-bottom: 1rem;
        }
        textarea {
            width: 100%;
            height: 100%;
            padding: 0.2rem 0.5rem;
            border: 1px inset #dde;
            border-radius: 2px;
            resize: none;
        }
        span {
            margin-left: auto;
            font-size:80%;
            align-self:flex-end;
        }
    }

    .form-id {
        position: absolute; 
        right: 0.75rem;
        bottom: 1px;
        font-size: 0.75rem;
    }
    .panel-properties {
        flex-wrap: wrap;
        gap: 0.5rem 1rem;
        display: flex;
        margin-top: 1rem;
        height: 100%;
        input, select {
            margin-left: 3px;
        }
        input[type="number"] {
            width: 50px;
        }
    }
}
#form_properties_last_update {
    color: $base_navy;
    font-size: 90%;
    background-color: transparent;
    border: 2px solid transparent;
}

/* Form History modal */
#history-slice td {
    font-size: 14px !important;
}
#history-page-buttons button#next, #history-slice button#prev {
    width: 135px;
}




#form_index_and_editing {
    display: flex;
    gap: 1rem;
}

#form_index_display {
    position: relative;
    padding: 0.75rem;
    width: 400px;
    flex: 0 0 400px;
    align-self:flex-start;
    background-color: white;
    border-radius: 4px;
    box-shadow: 1px 1px 2px 1px rgba(0,0,20,0.4);
    .index_info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 28px;
        margin-bottom: 0.5rem;
        img {
            width: 16px;
            height: 16px;
            margin-left: 0.25rem;
            margin-right: auto;
        }
        button {
            width: 133px;
        }
    }
    h3 {
        margin: 0;
        height: 28px;
        display: flex;
        align-items: center;
        color: black;
    }
    /* lists for main and stapled forms   */
    ul[id^="layoutFormRecords_"] button {
        padding: 0.25rem;
        display: flex;
        justify-content: flex-start;
        width: 100%;
        height: 100%;
        border: 2px solid transparent;
        overflow: hidden;
        max-height: 50px;
        
        &:not(:disabled) {
            color: $charcoal;
        }
        &:not(:disabled):hover, &:not(:disabled):focus, &:not(:disabled):active {
            background-color: $lt_cyan;
            border: 2px solid $LEAF_CSS_outline;
            outline: none;
        }
        &:disabled:hover, &:disabled:focus, &:disabled:active {
            background-color: $lt_cyan;
            cursor: default;
            outline: none
        }
        &.layout-listitem {
            min-height: 50px;
            border-radius: 0;
            padding: 0.5rem;
        }
        &.layout-listitem:disabled { /* the currently selected form */
            color: $base_navy;
            border: 2px solid $LEAF_CSS_outline;
        }
    }
    /* li contain the drag-drop zone of selected form */
    ul[id^="layoutFormRecords_"] > li  {
        min-height: 50px;
        margin-bottom: 0.5rem;
        border: 2px solid transparent;
        &.selected {
            border: 2px solid $lt_cyan;
            button {
                background-color: $lt_cyan;
            }
        }
    }
    /* Drag-Drop area for focused form */
    ul[id^="base_drop_area"] {
        position: relative;
        background-color: white;
        margin-top: 0.5rem;
        padding: 0 0 6px 0;
        border-top: 1px solid #d0d0d4;
        &.entered-drop-zone, ul.entered-drop-zone {
            background-color: #e8ebf0;
        }
        ul[id^="drop_area_parent_"] {
            position: relative;
        }

        li.section_heading {
            font-weight: bolder;
            color: $base_navy;
        }
        li.subindicator_heading {
            font-weight: normal;
            color: black;
        }
        li.section_heading > div, li.subindicator_heading > div {
            padding-left: 0.5rem;
        } 
        ul.form-index-listing-ul {
            margin: 0;
            padding: 0 0 4px 0; /* btm padding needed for drop zones */
            padding-left: 0.75em;
            display: flex;
            flex-direction: column; 
            min-height: 6px;  /*NOTE: min height needed for drop zones*/
        }
        li {
            position: relative;
            cursor: grab;
            margin: 0.2em 0; /* there needs to be a margin to hilite the current drop zone */
            border-radius: 2px;
            outline: none !important;
        }
        li > div {
            display: flex;
            align-items: center;
            width: 100%; 
            height: 40px;
            border-bottom: 1px solid #d0d0d4;
            padding-bottom: 0.9em;
            .icon_move_container {
                @include flexcenter;
                flex-direction: column;
                margin-left: auto;
                margin-right: 0.2em;
                padding-top:0.25em;
                .icon_move {
                    @include flexcenter;
                    cursor: pointer;
                    width: 0;
                    height: 0;
                    background-color: transparent;
                    border-radius: 2px;
                    border: 7px solid transparent;
                    margin-left: auto;
                    &.up {
                        margin-bottom: 5px;
                        border-bottom: 12px solid $BG-DarkNavy;
                        &:hover, &:focus, &:active {
                            outline: none !important;
                            border-bottom: 12px solid $USWDS_Cyan;
                        }
                    }
                    &.down {
                        border-top: 12px solid $BG-DarkNavy;
                        &:hover, &:focus, &:active {
                            outline: none !important;
                            border-top: 12px solid $USWDS_Cyan;
                        }
                    }
                }
            }
            .sub-menu-chevron {
                padding: 4px 2px 2px 2px;
                font-size: 1.25em;
                align-self: center; 
                font-weight: bold;
                border-radius: 2px;
                cursor: pointer;
                &:hover, &:focus, &:active {
                    color: $USWDS_Cyan;
                }
            }
        }
        li:first-child {
            margin-top: 0.75rem;
        }
        li:last-child {
            margin-bottom: 0;
        }
        li.index-selected::before, li:focus::before {
            position: absolute;
            top: -0.2em;
            left: -0.5em;
            content: '';
            width: 3px;
            height: calc(100% - 0.6em);
            border-radius: 60% / 3px;
            background-color: $base_navy;
        }
    }

    hr {
        margin: 1.25rem auto 0.5rem auto;
        width: 80%;
        border: none;
        border-top: 3px solid #f0f0f0;
        color: #f0f0f0;
    }
    /* lists for internal forms */
    ul[id^="internalFormRecords_"] > li  {
        &:not(:last-child) {
            margin-bottom: 0.5rem;
        }
        button {
            padding: 0.25rem;
            display: flex;
            justify-content: flex-start;
            width: 100%;
            height: 100%;
            overflow: hidden;
            border: 2px solid transparent;
            &:not(#addInternalUse) {
                background-color: $BG_Pearl;
                &.selected {
                    cursor: auto;
                    background-color: $lt_cyan;
                    border: 2px solid $LEAF_CSS_outline;
                }
            }
            &:hover, &:focus, &:active {
                border: 2px solid $LEAF_CSS_outline;
                outline: none !important;
            }
        }
    }
    #addInternalUse {
        margin-top: 0.75rem;
        padding: 2px 0.5rem;
        width: 100%;
        border: 2px solid $base-navy;
        justify-content: space-between;
    }
}


/* form editing and entry preview */
#form_entry_and_preview {
    position: relative;
    top: 0;
    display:flex;
    flex-direction: column;
    align-self: flex-start;
    width: 100%;
    min-width: 420px;
    background-color: white;
    padding: 0.75rem 0.5rem;
    border-radius: 4px;
    box-shadow: 1px 1px 2px 1px rgba(0,0,20,0.4);
    overflow: hidden;

    .form-page-card {
        position: relative;
        padding: 0.75rem 0.5rem;
        border: 3px solid $BG_Pearl;
        border-left: 7px solid $BG_Pearl;
        border-right: 3px solid darken($BG_Pearl, 8%);
        border-bottom: 3px solid darken($BG_Pearl, 8%);
        border-radius: 4px;
        background-color: white;
        transition: background-color 0.75s ease;
        margin-bottom: 0.75rem;
        > div {
            display: flex;
            align-items: center;
            .form_page {
                color: white;
                background-color: black;
                padding: 0.2em 0.4em;
                border-radius: 3px;
                margin-right: 0.4rem;
            }
            .descr {
                margin-left: auto;
            }
        }
    }
    button.card_toggle {
        position: absolute;
        top: 0;
        left: 0;
        margin-left: -6px;
        padding: 1px 1px 1px 2px;
        align-items: flex-start;
        height: 100%;
        border: 0;
        border-radius: 4px 0 0 4px;
        background-color: $BG_Pearl;
        font-size: 90%;
        &.closed {
            font-size: 60%;
        }
        &:hover, &:focus, &:active {
            border: 0;
            outline: none;
        }
    }

    div.printformblock {
        overflow-y: scroll;
        height: 600px;
        position: relative;
        transition: top 0.2s ease;
        break-inside: avoid;
        &.preview {
            height: auto;
            overflow-y: auto;
        }
        div.printResponse {
            position: relative;
            padding: 0;
            margin-bottom: 1rem;
            min-height: 50px;
            float: none; /* style.css style collision */
            border-radius: 4px;
            border-left: 7px solid $BG_Pearl;
            &.form-header, &.preview.form-header {
                border-top: 3px solid $BG_Pearl;
                border-right: 3px solid darken($BG_Pearl, 8%);
                border-bottom: 3px solid darken($BG_Pearl, 8%);
            }
            &.preview {
                border: 0;
            }
            &:not(.form-header):not(.preview) {
                margin-left: 0.5rem;
            }
            &.preview.form-header {
                border-left: 3px solid $BG_Pearl;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    /* wraps each form question. */
    .form_editing_area {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
        background-color: white;
        &.conditional {
            background-color: saturate(darken($BG_Pearl, 2%), 15%);
        }
        /* 1st section (name and toolbar) of editing_area */
        .name_and_toolbar {
            width: 100%;
            display:flex;
            gap: 0.5rem;
            justify-content: space-between;
            &.form-header {
                font-weight:  bolder;
            }
            &:not(.preview) {
                min-height: 60px;
            }
            button {
                border: 1px solid $LtNavy;
                &:hover, &:focus, &:active {
                    border: 1px solid $LEAF_CSS_outline !important;
                    outline: 1px solid $LEAF_CSS_outline;
                }
            }
        }
        .indicator-name-preview {
            padding: 0.75rem 0 0.75rem 0.75rem;
            width: 100%;
            transition: background-color 0.75s ease;
            background-color: white;
            &.conditional {
                background-color: saturate(darken($BG_Pearl, 2%), 15%);
            }
            .required-sensitive {
                color: $attention;
                margin-left: 0.4em;
            }
        }
        div[id^="form_editing_toolbar_"] {
            padding: 3px;
            border-radius: 3px;
            display: flex;
            flex-direction:column;
            align-items: stretch;
            align-self: flex-start;
            font-size: 90%;
            color: black;
            gap: 2px;
            > div {
                display: flex; 
                align-items: center;
                gap: 3px;
                min-width: 242px;
            }
            button {
                padding: 1px 6px;
                font-weight: normal;
            }
            img {
                margin-left:auto;
                width:16px;
                height:16px;
            }
        }
        /* 2nd section of editing_area (format preview) */
        .format_preview {
            padding: 0 0 0.75rem 0.75rem;
            .text_input_preview {
                display: inline-block;
                width: 75%;
                font-size: 1.3em; 
                font-family: monospace;
                background-color: white;
                border: 1px solid gray;
                padding: 0.25em;
            }
            .textarea_input_preview {
                width: 75%; 
                padding: 0.5em; 
                font-size: 1.3em; 
                font-family: monospace;
            }
            div[id*="textarea_format_button_"], .trumbowyg-box, .choices, fieldset {
                width: 75%;
            }
            .trumbowyg-box {
                margin-left: 0;
            }
            div.tableinput { /* fixes for grid tables */
                overflow-x: auto;
                max-width: 900px;
            }
            .employeeSelectorInput, .groupSelectorInput, .positionSelectorInput {
                margin-bottom: 0.5em;
                width: 75%;
            }
            div[class*="SelectorBorder"] {
                background-color: transparent;
            }
            tr[class*="Selector"]:hover {
                background-color: #e1f3f8;
            }
        }
    }
}


/* ifthen dialog */
#condition_editor_dialog_content {
    min-width: 700px;
    max-width: 900px;
    margin: auto;
    background-color: white;
    #ifthen_deletion_dialog {
        margin-bottom: -0.75rem;
        .options {
            display: flex;
            justify-content:
            space-between; margin-top: 2rem;
            button {
                width: 120px;
            }
        }
    }
    #savedConditionsLists {
        padding-bottom: 0.5em;
        ul {
            margin-bottom: 1rem;
        }
        button.btn_remove_condition {
            width: 1.75em;
        }
    }
    #outcome_select {
        max-width: 700px;
    }
    #condition_editor_inputs > div {
        padding: 1rem 0;
        .choices__inner {
            width: 100%;
            max-width: 700px;
        }
    }
    #if-then-setup {
        display: flex;
        max-width: 700px;
        gap: 0.75rem;
        align-items: center;
        min-height: 60px;
        padding-bottom: 0;
        > select, #parent_choices_wrapper {
            width: 35%;
            margin: 0;
        }
        #operator_select {
            width: 25%;
        }
        > div.crosswalks {
            display:flex;
            flex-wrap: wrap;
            gap: 1rem 2rem;
            max-width:600px;
        }
        .choices__inner {
            max-width: 300px;
        }
    }
    select, input:not(.choices__input) {
        font-size: 1rem;
        padding: 2px;
        text-overflow: ellipsis;
        width: 100%;
        border: 1px inset gray;

        &:not(:last-child) {
            margin-bottom: 1em;
        }
    }

    li.savedConditionsCard {
        display: flex;
        align-items: center;
        margin-bottom: 0.5rem;
    }
    button.btnSavedConditions {
        display: block;
        width: 100%;
        text-align: left;
        font-weight: normal;
        background-color: white;
        padding: 6px;
        border: 1px outset $base-navy;
        box-shadow: 1px 1px 6px rgba(0, 0, 25, 0.5);
        border-radius: 3px;
        margin-right: 1rem;
        white-space: normal;
        max-width: 700px;
        overflow: hidden;
        transition: box-shadow 0.1s ease;
        &.isOrphan {
            background-color: #d8d8d8;
            color: black;
            border: 1px solid black;
        }
        &:hover:not(.isOrphan), &:focus:not(.isOrphan), &:active:not(.isOrphan) {
            color: white;
            border: 1px outset $base-navy !important;
            background-color: $base-navy;
            box-shadow: 0px 0px 2px rgba(0, 0, 25, 0.75);
        }
    }
    button.btn-confirm.new {
        padding: 4px 6px;
    }
    .changesDetected {
        color: #c80000;
    }
    .selectedConditionEdit .changesDetected,
    button.btnSavedConditions:hover .changesDetected, 
    button.btnSavedConditions:focus .changesDetected, 
    button.btnSavedConditions:active .changesDetected {
        color: white;
    }
    button.selectedConditionEdit {
        color: white;
        border: 1px outset $base-navy !important;
        background-color: $base-navy;
        box-shadow: 0px 0px 2px rgba(0, 0, 25, 0.75);
    }
    .btn_remove_condition {
        background-color: #922;
        border: 1px solid #922;
        color: white;
    }
    .btn_remove_condition:hover, .btn_remove_condition:active, .btn_remove_condition:focus {
        border: 1px solid black !important;
        background-color: #600;
    }
    .ifthen_label {
        font-weight: bolder;
        color: $base_navy;
    }
}

@media only screen and (max-width: 600px) {
    #leaf_dialog_content {
        min-width: 400px;
    }
    #vue-formeditor-app {
        min-width: 400px;
        > div {
            flex-direction: column;
        }
        main > section {
            margin: 0;
            padding: 0;
        }
        nav#top-menu-nav {
            width: 100%;
            ul {
                flex-direction: column;
                height: fit-content;
                li {
                    width: 100%;
                    height:fit-content;
                    flex-direction: column;
                    &::after {
                        content: '';
                        background-color: transparent;
                    }
                    button, a {
                        height: 36px;
                        padding: 0;
                        border-radius: 0;
                        justify-content: center !important;
                        span {
                            margin-left: 10px;
                        }
                    }
                }
            }
        }
        #secure_forms_info {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        #edit-properties-panel {
            flex-direction: column;
            border-radius: 0;
            > div {
                width: 100%;
            }
            #edit-properties-description {
                border-right: 0;
                border-bottom: 1px solid $charcoal;
            }
        }
        #internalFormRecordsDisplay {
            min-width: 100%;
        }
        #form_index_and_editing {
            flex-direction: column;
            gap: 1.25rem;
            > div {
                border-radius: 0;
            }
            #form_index_display {
                width: 100%;
                flex: 0 0 100%;
            }
            .form_editing_area {
                .name_and_toolbar.form-header {
                    font-size: 100%;
                }
                .tableinput {
                    max-width: 400px;
                }
            }
        }
    }
    #condition_editor_dialog_content {
        width: 100%;
        min-width: 400px;
        border: 0;
        div#if-then-setup {
            flex-direction: column;
            > select, > h3, #parent_choices_wrapper, #operator_select {
                width: 100%;
            }
            .choices__inner {
                max-width: 100%;
            }
        }
    }
}