.positionSmall {
    border: 1px solid black;
    background-color: #caecff;
    width: 200px;
    padding: 0px;
    margin: 0px;
    position: relative;
    z-index: 20;
}

.positionSmall:hover {
    background-color: #fffdcc;
    z-index: 21;
}

.positionSmall_title {
    background-color: #a8dfff;
    padding: 4px;
    margin: 0px;
    font-weight: bold;
    cursor: move;
}

.positionSmall_data {
    padding: 4px;
    margin: 0px;
}

.positionPhoto {
    float: right;
    visibility: hidden;
    display: none;
    width: 64px;
}

.groupSmall {
    border: 1px solid black;
    background-color: #f6cafd;
    width: 200px;
    min-height: 72px;
    padding: 0px;
    margin: 8px;
    cursor: pointer;
    position: relative;
    float: left;
    z-index: 20;
}

.groupSmall_title {
    background-color: #cb9ed7;
    padding: 4px;
    margin: 0px;
    font-weight: bold;
}

.fteCounter {
    float: right;
    background-color: black;
    color: white;
    padding: 4px;
}

.positionSmall_title_drag {
    background-color: #d5ffb7;
}

#sidebar {
    position: absolute;
    background-color: lime;
    width: 250px;
    left: 0px;
    padding: 4px;
}

#editor_toolbar {
    font-weight: normal;
    padding: 2px;
}

#editor_tools {
    
}

#editor_tools>span {
    background-color: #e8f2ff;
    padding: 4px;
    cursor: pointer;
    font-size: 100%;
}

#editor_tools>span:hover {
    background-color: #2372b0;
    color: white;
}

#visual_alert_box_container {
    max-width: 354px;
    box-sizing: border-box;
    margin-left: auto;
}
#visual_alert_box {
    text-align: left;
    position: relative;
    padding: 0.25em;
    background-color:#fff;
}
#visual_alert_box_container label {
    display: flex;
    justify-content:flex-end;
    padding-top: 0.25rem;
}
#visual_alert_box.hide, #visual_alert_box_container label.hide {
    display: none;
}

#visual_alert_box_container label input {
    margin: 0 0 0 0.25rem;
}

#visual_alert_box_title {
    font-weight: bolder;
}