.employeeSelectorBorder {
    border: 0px;
    background-color: white;
    padding: 4px;
    margin-bottom: 8px;
    width: 99%;
}

.employeeSelectorInput {
    border: 1px solid black;
    font-size: 140%;
    padding: 4px;
    width: 90%;
}

.employeeSelectorIcon {
    position: relative;
    padding: 3px;
    vertical-align: middle;
}

.employeeSelector {
    width: 99%;
    font-size: 14px;
    background-color: #e8f2ff;
    border: 1px solid black;
    padding: 2px;
    cursor: pointer;
}

.employeeSelector:hover {
    background-color: #fffdcc;
    color: black;
}

.employeeSelected {
    width: 99%;
    font-size: 14px;
    background-color: #2372b0;
    color: white;
    border: 1px solid black;
    padding: 2px;
    cursor: pointer;
}

.employeeSelected>td>a {
    color: white;
}

table.employeeSelectorTable {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
}

.employeeSelectorTable th {
    background-color: #ececec;
    text-align: center;
    color: #888888;
    font-size: 80%
}

.employeeSelectorTable td {
    border: 1px solid black;
    padding: 8px;
}

.employeeSelectorName {
    font-weight: bold;
}

.employeeSelectorPhoto {
    float: right;
    max-width: 48px;
    max-height: 48px;
}

.employeeSelectorTitle {
    font-style: italic;
    font-weight: normal;
}

.employeeSelectorService {
    text-align: center;
}

.employeeSelectorService>span {
    font-size: 75%;
}

.employeeSelectorContact {
    font-size: 75%;
}