.groupSelectorBorder {
    padding: 0.8rem;
    margin-bottom: 2.0rem;
}

.groupSelectorInput {
    border: 1px solid #bbb;
    border-right: 1px solid #bbb!important;
    padding: 0.8rem;
    width: 21rem!important;
}

.groupSelectorIcon {
    position: relative;
    padding: 3px;
}

.groupSelector {
    width: 99%;
    cursor: pointer;
}
table.groupSelectorTable > tbody > tr.groupSelector:hover {
    background-color: #dae9ee;
}

.groupSelected {
    font-family: 'Public Sans Bold';
    background-color: #dae9ee;
}
.groupSelectorTitle {
    cursor: pointer;
}

table.groupSelectorTable {
    width: 100%;
}

.groupSelectorTable th {
    font-size: 0.8rem;
}

.groupSelectorTable td {
    font-size: 0.8rem;
}
