.groupSelectorBorder {
    height: 28px;
    padding: 4px;
    margin-bottom: 8px;
}

.groupSelectorInput {
    border: 1px solid #bbb;
    border-right: 1px solid #bbb!important;
    padding: 4px;
    width: 100%;
}

.groupSelectorIcon {
    position: relative;
    padding: 3px;
}

.groupSelector {
    width: 99%;
    font-size: 14px;
    background-color: white;
    border: 1px solid black;
    padding: 2px;
    cursor: pointer;
}

.groupSelector:hover {
    background-color: #e1f3f8;
}

.groupSelected {
    width: 99%;
    font-size: 14px;
    background-color: #2372b0;
    color: white;
    border: 1px solid black;
    padding: 2px;
    cursor: pointer;
}

table.groupSelectorTable {
    width: 100%;
    border: 1px solid #bbb;
    border-collapse: collapse;
    margin-top: 25px;
}

.groupSelectorTable th {
    background-color: #ececec;
    text-align: center;
    color: #565c65;
    font-size: 80%;
}

.groupSelectorTable td {
    border: 1px solid #bbb;
    padding: 8px;
}

.groupSelectorTitle {
    font-weight: bold;
}
