.groupSelectorBorder {
    border: 1px solid black;
    background-color: white;
    padding: 4px;
    margin-bottom: 8px;
    width: 99%;
}

.groupSelectorInput {
    position: relative;
    border: 0px;
    font-size: 140%;
    padding: 0px 0px 0px 4px;
    width: 90%;
}

.groupSelectorIcon {
    position: relative;
    padding: 3px;
}

.groupSelector {
    width: 99%;
    font-size: 14px;
    background-color: white;
    border: 1px solid black;
    padding: 2px;
    cursor: pointer;
}

.groupSelector:hover {
    background-color: #fffdcc;
    color: black;
}

.groupSelected {
    width: 99%;
    font-size: 14px;
    background-color: #2372b0;
    color: white;
    border: 1px solid black;
    padding: 2px;
    cursor: pointer;
}

table.groupSelectorTable {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
}

.groupSelectorTable th {
    background-color: #ececec;
    text-align: center;
    color: #888888;
    font-size: 80%
}

.groupSelectorTable td {
    border: 1px solid black;
    padding: 8px;
}

.groupSelectorTitle {
    font-weight: bold;
}
