
body {
    background-color: #f3f3f3;
    font-family: verdana;
    margin: 0px;
    font-size: 12px;
}

body a:link, body a:visited {
    color: #004b76;
}

body a:hover {
    color: #f04e0b;
}

span {
    color: black;
    font-family: verdana;
    font-size: 12px;
}

button {
    font-family: verdana;
}

img {
    border: 0px;
}

input {
    border: 1px solid gray;
    padding: 4px;
}

select {
    border: 1px solid black;
    padding: 4px;
}

h3 {
    font-size: 12px;
    margin: 4px;
}

#body {
    padding: 0px;
    text-align: center;
    width: 100%;
}

#header {
    font-family: Verdana, sans-serif;
    font-weight: bold;
    background-image: url('../images/gradient.png');
    width: 100%;
    height: 80px;
    border-bottom: 2px solid #5A79A5;
    margin-bottom: 4px;
}

#footer {
    float: right;
    clear: both;
    text-align: right;
    padding: 4px;
    font-size: 10px;
}

#footer a:link, #footer a:visited {
    color: #6f6f6f;
    text-decoration: none;
}

#footer a:hover {
    color: #f04e0b;
}

span#headerLabel {
    position: absolute;
    color: #17008a;
    left: 90px;
    top: 44px;
    font-size: 16px;
}

#headerDescription {
    margin: 0;
    position: absolute;
    font-size: 24px;
    color: black;
    left: 90px;
    top: 16px;
}

span#headerHelp {
    position: absolute;
    top: 8px;
    right: 10px;
    font-size: 10px;
    font-weight: normal;
}

span#headerLogin {
    position: absolute;
    top: 24px;
    right: 10px;
    font-size: 12px;
    font-weight: normal;
    text-align: right;
}

span#headerMenu {
    position: relative;
    top: 55px;
    float: right;
    font-size: 12px;
    font-weight: normal;
    text-align: right;
}

/* updated nav */
#nav-skip-link {
    position: absolute;
    opacity: 0;
    color: black;
    background-color: #e0e0e0;
    padding: 0.1em 0.2em;
    border-radius: 2px;
    left: -9999px;
}
#nav-skip-link:focus,
#nav-skip-link:active {
    opacity: 1;
    left: 0;
    z-index: 100;
}
#headerMenuNav {
    font-size: 12px;
}
#headerMenuNav > ul {
    position: relative;
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem 0.75rem;
}
#headerMenu > nav > ul > li {
    box-sizing: border-box;
    height: 24px;
    margin: 0;
}
#headerMenu .controlled-element {
    position: absolute;
    top: calc(100% - 2px);
}
#headerMenu .controlled-element.is-shown {
    display: block;
}
#headerMenuNav > ul > li > button,
#headerMenuNav > ul > li > a {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0.25rem;
    display: flex;
    gap: 2px;
    align-items: center;
    text-decoration: none;
    color: black;
}
#headerMenuNav > ul > li > button:hover,
#headerMenuNav > ul > li > button:focus,
#headerMenuNav > ul > li > button:active,
#headerMenuNav > ul > li > a:hover,
#headerMenuNav > ul > li > a:focus,
#headerMenuNav > ul > li > a:active {
    color: white;
}
#help_admin_info {
    padding: 0.5rem 0 0 0;
    line-height: 1.6;
}

#headerMenu > a,
#headerMenu_container > a,
#headerMenuHelp_container > a {
    text-decoration: none;
    margin-left: 8px;
    color: black;
}
#headerMenu > a > img {
    padding-bottom: 2px;
    padding-right: 4px;
}
#headerMenu > a:hover,
#headerMenu_container > a:hover,
#headerMenuHelp_container > a:hover {
    text-decoration: underline;
    color: white;
}
#headerMenu > a:focus,
#headerMenu_container > a:focus,
#headerMenuHelp_container > a:focus {
    text-decoration: underline;
    color: white;
}
#headerMenu_help a:focus > .menuButtonSmall {
    outline-style: dotted;
    box-shadow: 0 4px 6px 2px #8e8e8e;
}
#headerMenu_help {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 2px 6px rgba(0,0,25,0.2);
    padding: 0.5em 0.75em;
    border: 1px solid black;
    right: 0px;
    z-index: 100;
    width: max-content;
}
#headerMenuHelp_container:hover #headerMenu_help {
    display: block;
}
#headerMenu_help > a:focus > .menuButtonSmall {
    box-shadow: 0 4px 6px 2px #8e8e8e;
    margin: 12px;
    outline-style: dotted;
}


#headerMenu > a, #headerMenu_container > a {
    text-decoration: none;
    margin-left: 8px;
    color: black;
}

#headerMenu > a > img {
    padding-bottom: 2px;
    padding-right: 4px;
}

#headerMenu > a, #headerMenu_container > a, #headerMenuHelp_container > a {
    text-decoration: none;
    margin-left: 8px;
    color: black;
}

#headerMenu > a:hover, #headerMenu_container > a:hover, #headerMenuHelp_container > a:hover{
    text-decoration: underline;
    color: white;
}

#headerMenu > a:focus, #headerMenu_container > a:focus, #headerMenuHelp_container > a:focus{
    text-decoration: underline;
    color: white;
}

#headerMenu_container:hover #headerMenu_links, #headerMenuHelp_container:hover #headerMenu_help  {
    display: block;
}

#headerMenu_links a:focus > .menuButtonSmall, #headerMenu_help a:focus > .menuButtonSmall{
    outline-style: dotted;
    box-shadow: 0 4px 6px 2px #8e8e8e;
}

#headerMenu_links,  #headerMenu_help{
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 2px 60px #8e8e8e;
    padding: 16px;
    border: 1px solid black;
    right: 0px;
    z-index: 100;
    text-align: left;
    inline-size: max-content;
}

#headerMenu_links > a:focus > .menuButtonSmall, #headerMenu_help > a:focus > .menuButtonSmall{
    box-shadow: 0 4px 6px 2px #8e8e8e;
    margin: 12px;
    outline-style: dotted;
}

#headerMenu > a:hover, #headerMenu_container > a:hover{
    background-color: #2372b0;
    text-decoration: underline;
    color: white;
}

#headerMenu > a:focus, #headerMenu_container > a:focus{
    background-color: #2372b0;
    text-decoration: underline;
    color: white;
}

#headerMenu_links {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 2px 60px #8e8e8e;
    padding: 16px;
    border: 1px solid black;
    right: 0px;
    z-index: 100;
}

#headerMenu_container:hover #headerMenu_links  {
    display: block;
}

span#headerTabImg {
    position: relative;
    top: 49px;
    height: 32px;
    float: right;
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-align: right;
/*    background-image: url(../images/tab.gif);
    background-repeat: no-repeat;*/
}

span#headerTab {
    position: relative;
    top: 49px;
    height: 32px;
    float: right;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: right;
/*    background-image: url(../images/tab.gif);
    background-repeat: no-repeat;*/
    background-color: #5a79a5;
}
/* orgchart card options.  can be buttons or links */
.positionSmall .button.buttonNorm {
    display: flex;
    gap:3px;
    align-items: center;
    color: black;
    padding: 2px;
    text-decoration: none;
    box-sizing: border-box;
    width: 100%;
    border: 0;
    border-bottom: 1px solid black;
}
.positionSmall .button.buttonNorm:hover,
.positionSmall .button.buttonNorm:focus,
.positionSmall .button.buttonNorm:active {
    padding: 2px;
    color: white;
}

.link {
    text-decoration: underline;
    cursor: pointer;
    color: #445f87;
}

.link:hover {
    color: #f04e0b;
}

#content {
    padding: 4px;
    margin: 0px auto;
    text-align: left;
}

.alert {
    font-weight: bold;
    font-size: 16px;
    background-color: #9d0000;
    border: 2px solid black;
    padding: 4px;
}

.alert>span {
    color: white;
}

.alert a:link, .alert a:visited{
    color: #bddcfb;
}

.item {
    padding-bottom: 4px;
}

.item label {
    float: left;
    width: 150px;
    text-align: right;
}

.numspinner {
    width: 70px;
}


.mainform {

}

.formblock {

}

.mainlabel {

}

.sublabel {

}

.response {
    padding: 5px;
}

.text {

}

table#tform {
    background-color: #fff;
    border: 1px solid #ddd;
    empty-cells: show;
    text-align: left;
}
table {
    height: 1px; /* table will ignore, needed to set other content to 100% height */
}
table .btn_leaf_grid_sort {
    cursor: pointer;
    padding: 4px 2px;
    margin: 0;
    border: 0;
    width: 100%;
    height: 100%;
    background-color: inherit;
    color: inherit;
    font-size: inherit;
}

table#tform th {
    border: 0;
    color: #777;
    margin: 0 0 5px 0;
    padding: 5px 0 10px 5px;
    font-size: 90%;
    font-weight: normal;

}

table#tform td {
    color: #444;
    padding: 3px;
    font-size: 13px;
}

.printmainform {
    border: 1px solid black;
}

.printformblock {
    page-break-inside: avoid;
}

.printmainblock {
    page-break-inside: avoid;
    border-bottom: 1px dashed black;
}

.printsubblock {
    float: left;
    page-break-inside: avoid;
}

.printmainlabel {
    padding-bottom: 4px;
}

.printcounter span {
    padding: 4px;
    margin-right: 4px;
    font-size: 24px;
    font-weight: bold;
    background-color: black;
    color: white;
    float: left;
}

.notrequired {
    display: none;
}

.printheading {
    padding: 4px;
}

.printheading:hover {
    background-color: white;
}

.printheading:focus {
    background-color: white;
}

.printheading_missing {
    padding: 4px;
    border-top: 2px solid black;
    background-color: #ee9a9a;
}

div.printsubheading {
    position: relative; /* ie6 workaround */
    padding: 4px 16px 4px 16px;
    border-bottom: 1px solid black;
    background-color: #f4f4f4;
}

div.printsubheading_missing {
    position: relative; /* ie6 workaround */
    padding: 4px 16px 4px 16px;
    border-bottom: 1px solid black;
    background-color: #ee9a9a;
}

span.printsubheading {
    font-weight: normal;
    font-size: 120%;
    float: left;
}

span.printsubheading:hover {
    text-decoration: underline;
}

.printsublabel {
    background-color: white;
}

div.printResponse {
    float: right;
    padding: 0px 16px 8px 16px;
}

span.printResponse {
    font-size: 100%;
    font-weight: bold;
    float: right;
}

a.printResponse {
    font-size: 14px;
}

table.table {
    border: 1px solid black;
    border-collapse: collapse;
    margin: 2px;
}

.table>thead {
    background-color: #e0e0e0;
    text-align: center;
}

.table>tbody {
    background-color: white;
}

.table td {
    padding: 6px;
    border: 1px solid black;
    font-size: 11px;
    font-family: verdana;
}

.table_important {
    font-size: 150%;
    font-weight: bold;
}

.table_editable {
    cursor: pointer;
}

.table_editable:hover {
/*    border: 1px solid red;*/
    background-color: #fffdcc;
}

.table_priority {
    cursor: pointer;
}

.table_priority:hover {
/*    border: 1px solid red;*/
    background-color: #d6edff;
}

.table_priority:hover img {
/*    border: 1px solid red;*/
    background-color: #d6edff;
    visibility: visible;
}

.table_priority img {
    padding: 4px;
    visibility: hidden;
}

.table_priority img:hover {
    border: 1px solid black;
    padding: 3px;
}

.table_sortable {
    color: gold;
    cursor: pointer;
}

table.agenda {
    border: 1px solid black;
    border-collapse: collapse;
}

.agenda td {
    padding: 8px 4px 8px 4px;
    border: 1px solid black;
}

.agenda a {
    font-weight: bold;
}

table.leaf_grid {
    border: 1px solid black;
    border-collapse: collapse;
    margin: 2px;
}

table.leaf_grid>tbody {
    background-color: white;
}

span.approval_approved {
    color: green;
}

span.approval_disapproved {
    color: red;
}

.widget {
    display: none;
}

.menu {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.menu a:link, .menu a:visited {
    color: black;
    text-decoration: none;
}

.menu a:hover {
    color: black;
}

.menu2 a:link, .menu2 a:visited {
    color: black;
    text-decoration: none;
}

.menu2 a:hover {
    color: black;
}

.menuButton {
    float: left;
    width: 350px;
    height: 70px;
    cursor: pointer;
    margin: 14px;
    box-shadow: 0 2px 6px #8e8e8e;
    transition: box-shadow 0.3s ease;
}

.menuButton:hover, .menuButton:focus {
    box-shadow: 0 4px 6px 2px #8e8e8e;
    margin: 14px;
    outline-style: dotted;
}

.menuIcon {
    float: left;
    width: 96px;
    height: 96px;
    padding-right: 4px;
    background-position: center center;
    background-repeat: no-repeat;
}

.menuText {
    font-size: 20px;
    font-weight: bold;
    line-height: 160%;
}

.menuDesc {
    font-size: 14px;
}

.menuButtonSmall {
    float: left;
    width: 280px;
    height: 56px;
    cursor: pointer;
    margin: 12px;
    padding: 2px;
    box-shadow: 0 2px 6px #8e8e8e;
    transition: box-shadow 0.3s ease;
}

.menuButtonSmall:hover, .menuButtonSmall:focus {
    box-shadow: 0 4px 6px 2px #8e8e8e;
    margin: 12px;
    outline-style: dotted;
}

.menuIconSmall {
    float: left;
    width: 76px;
    height: 76px;
    padding-right: 4px;
    background-position: center center;
    background-repeat: no-repeat;
}

.menuTextSmall {
    font-size: 16px;
    font-weight: bold;
    line-height: 160%;
}

.menuDescSmall {
    font-size: 12px;
}

.signatureArea {
    display: none;
    visibility: hidden;
}

/* dialog underlay colors */
#dialogAnchor_underlay {
    background-color: black;
}

#dialog_cancel_underlay {
    background-color: black;
}

#editdialog1_underlay {
    background-color: black;
}

#histdialog1_underlay {
    background-color: black;
}

#statusdialog1_underlay {
    background-color: black;
}

#tagdialog1_underlay {
    background-color: black;
}

#dialog1_underlay {
    background-color: black;
}

/* Tags */
.tags span {
    font-size: 12px;
    background-color: #e8f2ff;
    padding: 2px;
    margin: 2px;
    border: 1px solid black;
    line-height: 160%;
}

div#maincontent {
    width: 80%;
    box-shadow: 0 2px 4px #8e8e8e;
}

div#category_list {
    padding: 2px;
    background-color: #f8dcd1;
    border: 1px solid black;
}

#category_list a {
    font-size: 14px;
    cursor: pointer;
}

#category_list a:hover {
    font-weight: bold;
}

#category_list>div {
    background-color: #f9e6df;
    padding: 2px;
    border-top: 1px solid black;
}

#maincontent {
    float: left;
    border: 1px solid #e0e0e0;
    padding: 4px;
    background-color: white;
}

#tools {
    background-color: #c0dbff;
    padding: 2px;
    margin-bottom: 16px;
    border: 1px solid black;
}

#tools a {
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
}

#tools a:hover {
    font-weight: bold;
}

#tools>div {
    background-color: #e8f2ff;
    padding: 2px;
    border-top: 1px solid black;
    cursor: pointer;
    font-size: 120%;
}

#tools>div:hover {
    background-color: #2372b0;
    border-top: 1px solid black;
    color: white;
}

.tools {
    background-color: #c0dbff;
}

button.tools{
  background-color: #e8f2ff;
  padding: 2px;
  margin: 0px;
  padding-right: 6px;
  border-top: 1px solid black;
  border-bottom: 1px solid #e8f2ff;
  border-left: 1px solid #e8f2ff;
  border-right: 1px solid #e8f2ff;
  cursor: pointer;
  font-family: verdana;
  font-size: 14px;
  text-align: left;
  width: 99%;

}

button.tools:hover, button.tools:focus{
  background-color: #2372b0;
  color: white;
}

.toolbar_right {
    float: right;
    z-index: 500;
}

.toolbar_right div {
}

.toolbar h1 {
    text-align: center;
    font-size: 12px;
    margin: 0px;
    padding: 2px;
}

.toolbar h2 {
    font-size: 42px;
    font-weight: bold;
    text-align: center;
    background-color: #d4d8e0;
    margin: 2px;
}

.toolbar_inline {

}

.toolbar_inline div {
    float: left;
    margin: 4px;
}

.toolbar_group {
    background-color: #e6e4b9;
    border: 1px solid black;
    padding: 2px;
}

.toolbar_group>div {
    padding: 2px;
    background-color: #fffdcd;
    line-height: 160%;
}

.toolbar_security {
    background-color: #cbcbcb;
    border: 1px solid black;
    padding: 2px;
}

.buttonPermission {
    padding: 2px;
    border: 1px solid black;
    background-color: #e3e3e3;
    text-align: left;
    cursor: pointer;
}

.buttonPermission:hover  {
    background-color: #2372b0;
    color: white;
}

.buttonPermission:focus {
 background-color: #2372b0;
 color: white;
}

button.options{
  background-color: #e8f2ff;
  padding: 2px;
  margin: 0px;
  padding-right: 6px;
  border-top: 1px solid black;
  border-bottom: 1px solid #e8f2ff;
  border-left: 1px solid #e8f2ff;
  border-right: 1px solid #e8f2ff;
  cursor: pointer;
  font-family: verdana;
  font-size: 14px;
  text-align: left;
  width: 99%;

}

button.options:hover, button.options:focus{
  background-color: #2372b0;
  color: white;
}

.toolbar_security>div {
    padding: 2px;
    background-color: #e3e3e3;
}

.toolbar_tags {
    background-color: #bd88cf;
    border: 1px solid black;
    padding: 2px;
}

.toolbar_tags>div {
    padding: 2px;
    background-color: #f5d8ff;
}

.foldable :link, .foldable :visited {
 background: url(../images/expanded.png) 0 50% no-repeat;
 border: none;
 padding-left: 16px;
}
.foldable :link:hover, .foldable :visited:hover { background-color: transparent }
.collapsed > .foldable :link, .collapsed > .foldable :visited {
 background-image: url(../images/collapsed.png);
}
.collapsed > div, .collapsed > table, .collapsed > ul, .collapsed > dl { display: none }
fieldset > legend.foldable :link, fieldset > legend.foldable :visited {
 color: #666;
 font-size: 110%;
}

fieldset { border: 1px solid #d7d7d7; padding: .5em; margin: 1em 0 }
p.hint, span.hint { color: #666; font-size: 85%; font-style: italic; margin: .5em 0;
  padding-left: 1em;
}
fieldset.iefix {
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
}
* html fieldset.iefix { width: 98% }

fieldset.iefix p { margin: 0 }

legend { color: #747474; padding: 0 .25em; font-size: 70%; font-weight: bold }

div#search > div {
    float: left;
    height: 80px;
    width: 400px;
    padding: 2px;
    margin: 2px;
}

div.workflowbox {
    padding: 2px;
    margin: 0px;
}

.openlate {

}

span.browsecounter a {
    padding: 4px;
    margin-right: 4px;
    font-size: 140%;
    font-weight: bold;
    background-color: black;
    color: white;
    float: left;
    text-decoration: none;
}

span.browsetitle a {
    font-size: 120%;
    font-weight: normal;
    text-decoration: underline;
}

span.browsetypes {
    font-size: 80%;
    color: #a2a2a2;
}

.button {
    background-color: #e8f2ff;
    padding: 2px;
    border-top: 1px solid black;
    cursor: pointer;
    font-size: 120%;
}

.button:hover {
    background-color: #2372b0;
    padding: 2px;
    border-top: 1px solid black;
    color: white;
}

.button>img {
    vertical-align: middle;
}

.buttonNorm {
    background-color: #e8f2ff;
    padding: 4px;
    border: 1px solid black;
    cursor: pointer;
    text-align: left;
}

input.buttonNorm {
   text-align: left;
   white-space:normal;
}

.buttonNorm:hover, .buttonNormSelected {
    background-color: #2372b0;
    color: white;
}

.buttonNorm:focus {
 background-color: #2372b0;
 color: white;
}

.buttonNorm>img {
    vertical-align: middle;
}

button.buttonNorm {
    background-color: #e8f2ff;
    padding: 2px;
    border: 1px solid black;
    cursor: pointer;
}

.card {
    box-shadow: 0 2px 6px #8e8e8e;
    background-color: white;
}

.nodisplay {
    display: none;
    visibility: hidden;
}

.dialogInput {
    border: 1px solid black;
    font-size: 120%;
    padding: 4px;
    width: 300px;
}

.ui-dialog, .ui-dialog-content {
    box-sizing: content-box;
}