.positionSmall {
    border: 1px solid black;
    background-color: #caecff;
    width: 200px;
    min-height: 72px;
    padding: 0px;
    margin: 8px;
    cursor: pointer;
    position: relative;
    float: left;
    z-index: 20;
}

.positionSmall_title {
    background-color: #a8dfff;
    padding: 4px;
    margin: 0px;
    font-weight: bold;
}

.positionSmall_data {
    padding: 4px;
    margin: 0px;
}

.positionPhoto {
    float: right;
    visibility: hidden;
    display: none;
    width: 64px;
}

.groupSmall {
    border: 1px solid black;
    background-color: #f6cafd;
    width: 200px;
    min-height: 72px;
    padding: 0px;
    margin: 8px;
    cursor: pointer;
    position: relative;
    float: left;
    z-index: 20;
}

.groupSmall_title {
    background-color: #cb9ed7;
    padding: 4px;
    margin: 0px;
    font-weight: bold;
}

.fteCounter {
    float: right;
    background-color: black;
    color: white;
    padding: 4px;
}