div#position {
    float: left;
    background-color: #caecff;
    border: 1px solid black;
    width: 99%;
}

div#positionHeader {
    background-color: #a8dfff;
    padding: 4px;
}

span#positionTitle {
    font-size: 140%;
    font-weight: bold;
}

span#groupTitle {
    font-size: 140%;
    font-weight: bold;
}
span#backupTitle, span#backupForTitle {
    font-size: 140%;
    font-weight: bold;
}
span#serviceName {
    font-style: italic;
}

div#positionBody {
    padding: 4px;
    float: left;
    width: 45%;
}

/********************************************/

div.employee {
    float: right;
    background-color: #ffe3e3;
    border: 1px solid black;
    margin: 8px;
    width: 50%;
}

div.employeeHeader {
    background-color: #f4bcbc;
    padding: 4px;
}

span.employeeName {
    font-size: 140%;
    font-weight: bold;
}

div.employeeBody {
    padding: 4px;
}
