.workflowStep {
    position: absolute;
    width: 150px;
    height: 38px;
    background-color: white;
    text-align: center;
    vertical-align: middle;
    padding-top: 18px;
    border: 4px solid gray;
    cursor: pointer;
}

.workflowAction {
    background-color: white;
    border: 4px solid black;
    padding: 4px 12px 4px;    
    cursor: pointer;
    border-radius: 200px / 100px;
}

.workflowAction:hover {
    z-index: 2000;
}

.workflowEndpoint {
    background-image: url("../../../libs/dynicons/?img=network-wired.svg&w=48");
    cursor: pointer;
}

.workflowStepInfo {
    display: none;
    position: absolute;
    background-color: white;
    padding: 8px;
    border: 2px solid black;
    z-index: 5000;
    min-width: 300px;
}

.workflowStepInfo>h2 {
    margin: 0px;
}
