.workflowStep {
    position: absolute;
    width: 172px;
    height: 50px;
    background-color: white;
    text-align: center;
    vertical-align: middle;
    padding: 6px 3px 3px 3px;
    border: 4px solid #555;
    cursor: pointer;
}

.workflowAction {
    background-color: white;
    border: 4px solid black;
    padding: 5px;    
    cursor: pointer;
    border-radius: 200px / 100px;
    font-size: 0.8rem;
}

.workflowAction:hover {
    z-index: 2000;
}

.workflowEndpoint {
    background-image: url("../../../libs/dynicons/?img=network-wired.svg&w=48");
    cursor: pointer;
}

.workflowStepInfo {
    display: none;
    position: absolute;
    background-color: white;
    padding: 8px;
    border: 1px solid #1b1b1b;
    border-radius: 4px;
    box-shadow: 0px 0px 4px #1b1b1b;
    z-index: 5000;
    min-width: 300px;
}

.workflowStepInfo > h2 {
    margin: 0px;
}
