div.groupBlock {
    border-radius: 4px;
    flex: 0 1 30%;
    max-width: 18rem;
    min-width: 14rem;
    min-height: 5.2rem;
    margin: 0.4rem 1.0rem 0.4rem 0.0rem;
    padding: 1.0rem;
    cursor: pointer;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    transition: background-color 0.3s ease;
    transition: box-shadow 0.3s ease;
    background-color: #0c60a0;
}

div.groupBlock:hover {box-shadow: 2px 2px 4px #838687; background-color: none;}
div.groupBlock:focus, div.groupBlock:active {outline: none; border: 0;}
div.groupBlock div { padding-top: 0.4rem; font-size: 0.8rem; color: #fff; }

div.groupBlock h2 {
    cursor: pointer;
    font-size: 1.1rem;
    margin: 0.1rem 0.0rem;
    color: #fff;
    font-family: 'PublicSans-Medium';
}

div.groupBlock h3 {
    cursor: pointer;
    font-size: 1.1rem;
    margin: 0.1rem 0.0rem;
    color: #fff;
    font-weight: normal;
    font-family: 'PublicSans-Medium';

}
.leaf-sysadmin-cards {display:inline-block;}
.leaf-empty-cards {
    flex: 0 1 30%;
    max-width: 18rem;
    min-width: 14rem;
    min-height: 5.2rem;
    margin: 0.4rem 1.0rem 0.4rem 0.0rem;
    padding: 1.0rem;
    border-radius: 4px;
    background-color: none;
    border: 1px solid red;
}

div.groupBlockWhite {
    border-radius: 4px;
    flex: 0 1 30%;
    max-width: 18rem;
    min-width: 14rem;
    min-height: 5.2rem;
    margin: 0.4rem 1.0rem 0.4rem 0.0rem;
    padding: 1.0rem;
    cursor: pointer;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    transition: background-color 0.3s ease;
    transition: box-shadow 0.3s ease;
    background-color: #fff;
}

div.groupBlockWhite:hover{box-shadow: 2px 2px 4px #838687; background-color: none;}
div.groupBlockWhite:focus, div.groupBlockWhite:active {outline: none; border: 0;}
div.groupBlockWhite div { padding-top: 0.4rem; font-size: 0.8rem; color: #000; }

div.groupBlockWhite h2 {
    cursor: pointer;
    font-size: 1.1rem;
    margin: 0.1rem 0.0rem;
    color: #000;
    font-family: 'PublicSans-Medium';
}

div.groupBlockWhite h3 {
    cursor: pointer;
    font-size: 1.1rem;
    margin: 0.1rem 0.0rem;
    color: #000;
    font-weight: normal;
    font-family: 'PublicSans-Medium';

}