.ui-dialog .ui-dialog-content {
    box-sizing: border-box;
}

.email-template-variables,
.email-keyboard-shortcuts {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.template_files {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    font-size: .8rem !important;
    line-height: 2;
    list-style: circle;
}

.template_files>a {
    /* width: 80%; */
    display: block;
    text-decoration: none;
    border-bottom: 2px solid #e4e4e400;
    transition: all 0.3s ease;
    color: #242424;
}

.template_files>a:hover {
    border-bottom: 2px solid #005ea2;
    color: #005EA2;
}

.custom_file {
    margin-left: 10px;
}

fieldset {
    background-color: #fff;
    border-radius: 5px;
}

.email-template-variables>fieldset {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #fff;
    border-radius: 5px;
}

#quick_field_search_container {
    border-radius: 5px;
}

#divEmailCc {
    margin-bottom: 20px;
}

.email-template-variables>fieldset>table {
    width: 100%;
}

.email-keyboard-shortcuts>table {
    width: 100%;
    /* max-width: 700px; */
}

.leaf-code-container {
    background-color: #ffffff00 !important;
    overflow: initial;
}

.CodeMirror-merge-copybuttons-left>.CodeMirror-merge-copy {
    visibility: hidden;
}

.CodeMirror-merge-copybuttons-left>.CodeMirror-merge-copy::before {
    visibility: visible;
    content: '\25ba\25ba\25ba';
}

.CodeMirror-merge-pane-rightmost {
    border: 4px solid #083;
    overflow: auto;
}


.CodeMirror,
.cm-s-default {
    height: auto !important;
    border-radius: 0 0 5px 5px;
    border: 2px solid #000;
}

.CodeMirror pre {
    padding: 3px 15px;
}

.CodeMirror-lines {
    padding: 18px 0;
}

.CodeMirror-linenumber {
    text-align: center;
    color: #707070;
}

.CodeMirror-gutters {
    background-color: #fcfcfc;
}

#emailTemplateHeader {
    padding: 15px;
    font-size: 1.2rem;
    background: #252f3e;
    font-weight: bold;
    color: #fff;
    text-align: left;
    margin: 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#emailLists fieldset legend {
    font-size: 1.2em;
}

legend {
    background-color: #fff;
    padding: 10px 15px !important;
    border-radius: 5px 5px 0 0;
    margin-bottom: 10px;
}

.emailToCc {
    display: block;
    width: 100%;
    padding: 8px;
    font-weight: bold;
}

#divSubject .CodeMirror {
    height: 50px;
}

#fileList {
    width: 90%;
    margin: 0 auto;
    padding: 10px 0;
}

.leaf-center-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    font-family: "PublicSans-Regular";
    max-width: 2000px;
}

#codeAreaWrapper {
    display: none;
}

#codeContainer {
    width: 98% !important;
    min-width: 400px;
    box-shadow: none;
    padding: 0;
}

.CodeMirror-merge,
.CodeMirror-merge .CodeMirror {
    height: 60vh !important;
}


.page-title-container {
    width: 98%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 10%;
}

.page-main-content {
    display: flex;
    width: 98%;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 80%;
    flex-direction: row;
    margin-top: 10px;
}

/*Keyboard Shortcuts*/
.keyboard_shortcuts,
.keyboard_shortcuts_merge {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #fff;
    margin-top: 10px;
    padding: 20px;
    border-radius: 5px;
}

.keyboard_shortcuts,
.keyboard_shortcuts_merge {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #fff;
    margin-top: 10px;
    padding: 20px;
    border-radius: 5px;
}

.keyboard_shortcuts_section,
.keyboard_shortcuts_section_merge {
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 8px 0;
}

.keboard_shortcuts_box,
.keboard_shortcuts_box_merge {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.keboard_shortcuts_box:last-child,
.keboard_shortcuts_box_merge:last-child {
    padding-left: 50px;
}

.keyboard_shortcuts_title,
.keyboard_shortcut,
.keyboard_shortcuts_title_merge,
.keyboard_shortcut_merge {
    width: 50%;
    text-align: left;
}

.keyboard_shortcuts_title>h3,
.keyboard_shortcuts_title_merge>h3 {
    font-weight: 500;
    text-transform: uppercase;
    font-size: .7rem;
    margin: 0;
}

.keyboard_shortcut>p,
.keyboard_shortcut_merge>p {
    background-color: #e6e6e6;
    border-radius: 5px;
    padding: 8px;
    text-align: center;
    font-size: .7rem;
    margin: 0;
}

.keboard_shortcuts_main_title,
.keboard_shortcuts_main_title_merge {
    width: 100%;
    margin-bottom: 10px;
}

.leaf-left-nav,
.leaf-right-nav {
    width: 15%;
    max-width: 400px;
    margin: 0;
    flex: auto;
    transition: all ease-in-out .5s;
}

.sidenav,
.sidenav-right {
    max-width: none;
    padding: 0;
    box-shadow: none;
}

.sidenav-right-compare {
    background-color: #fff;
    border-radius: 5px;
}

.controls-compare>button {
    width: 100%;
    font-size: 0.9rem;
}

#fileBrowser {
    width: 80%;
    margin: 0 auto;
    padding: 10px 0;
}

#fileBrowser>h3 {
    text-align: left;
}

.main-content {
    display: flex;
    justify-content: space-evenly;
    align-content: flex-start;
    width: 65%;
    flex: none;
    margin: 0 auto;
    transition: all 0.5s ease;
}

.sticky {
    position: sticky;
    top: 0;
    padding-top: 10px;
    transition: all 1s ease-in-out;
}

#filename,
#subject {
    display: block;
    width: 100%;
    padding: 10px 15px !important;
    font-size: 1.2rem;
    color: #000;
    text-align: left;
    border-radius: 5px 5px 0 0;
    background-color: #fff;
    font-size: 1.3rem !important;
    margin-top: 10px;
}



.leaf-btn-med {
    margin-top: 10px;
}

.file-history {
    width: 100%;
    max-height: 675px;
    overflow: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    margin: 10px auto;
    padding: 20px 0;
    border-radius: 5px;
}

.view-history {
    width: 90%;
    max-width: 250px;
    padding: 10px 0;
    background-color: #005EA2;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 10px;
}

.view-history:hover {
    background-color: #112e51;
}

.file-history-res {
    width: 80%;
}

.file_compare_file_btn,
.file_replace_file_btn,
.close_expand_mode_screen {
    width: 100%;
    padding: 10px 0;
    border: none;
    color: #fff;
    font-weight: 700;
    margin-top: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 5px;
}

.template_link {
    font-size: 0.8rem;
    border: 1px solid #eee;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    box-sizing: border-box;
    overflow: auto;
    background-color: #ccc;
}

.file_replace_file_btn {
    width: 100%;
    padding: 10px 0;
    border: none;
    background-color: #B50909;
    color: #fff;
    font-weight: 700;
    margin-top: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 5px;
}

.file_replace_file_btn:hover {
    background-color: #960707;
}

.file_replace_file_btn,
.close_expand_mode_screen {
    width: 100%;
    padding: 10px 0;
    border: none;
    color: #fff;
    font-weight: 700;
    margin-top: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 5px;
}

.close_expand_mode_screen {
    background-color: #1a4480;
    font-size: 1rem;
}

.close_expand_mode_screen:hover {
    background-color: #143461;
}

.page-title-container>h2 {
    width: 100%;
    margin: 15px 0;
    text-align: left;
}

.page-title-container>.file_replace_file_btn {
    display: none;
    width: 20%;
}

.page-title-container>.close_expand_mode_screen {
    display: none;
    width: 10%;
    min-width: 200px;
}

#save_button_compare {
    display: none;
    margin: 10px 0;
}

#save_button,
#btn_history,
#restore_original,
#icon_library {
    width: 100%;
    font-weight: 500;
    font-size: .9rem;
}

#save_button {
    background-color: #1a4480;
}

.contentMessage {
    width: 100%;
    font-size: 0.8rem;
    padding: 10px 0;
    text-align: center;
}

.usa-button {
    width: 100%;
    max-width: 250px;
    margin: 5px auto;
    font-weight: 500;
}


.leaf-ul {
    width: 100%;
    min-height: 300px;
    max-width: 250px;
    padding: 0 0 0 12px;
    margin: 10px auto;
    overflow: auto;
}

.leaf-ul li {
    width: 100%;
    line-height: 2;
    list-style: disc;
}


.leaf-ul>li>a {
    width: 80%;
    display: block;
    text-decoration: none;
    border-bottom: 2px solid #e4e4e400;
    transition: all 0.3s ease;
    font-size: .8rem !important;
    color: #242424;
}

.leaf-ul>li>a:hover {
    border-bottom: 2px solid #005ea2;
    color: #005EA2;
}

#controls,
.controls-compare {
    display: none;
    width: 80%;
    margin: 0 auto;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.compared-label-content {
    width: 100%;
    display: none;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fff;
    padding: 5px 0;
    border: 2px solid #252f3e;
}

.CodeMirror-merge-pane-label {
    width: 50%;
    text-align: center;
    font-weight: bold;
    padding: 10px 0;
}

.CodeMirror-merge-pane-label:nth-child(2) {
    color: #083;
}

/*File History Contents*/

#file_history_container {
    width: 100%;
    max-height: 675px;
    background-color: #fff;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.file_history_titles {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    background-color: #1A4480;
    color: #fff;
    padding: 10px 0;
    /* box-shadow: 0px 3px 3px -1px #01000061; */
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -ms-border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0;
}

.file_history_date,
.file_history_author {
    width: 48%;
    text-align: center;
    font-size: .8rem;
}

.file_history_options_container {
    width: 100%;
    height: 100%;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 2px solid #112D55;
    border-top: #ffffff00;
    overflow: auto;
    border-radius: 0 0 5px 5px;
}

.file_history_options_wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #112D55;
    border-top: #ffffff00;
    cursor: pointer;
    transition: all ease-in-out .3s;
    -webkit-transition: all ease-in-out .3s;
    -moz-transition: all ease-in-out .3s;
    -ms-transition: all ease-in-out .3s;
    -o-transition: all ease-in-out .3s;
}

.file_history_options_wrapper:hover {
    border-bottom: 2px solid #112D55;
    background-color: #112D55;
    color: #fff;
}

.file_history_options_wrapper:first-child {
    border-top: #9f9f9f00;
}

.file_history_options_wrapper:last-child {
    border-bottom: #ffffff00;
}

.file_history_options_date,
.file_history_options_author {
    width: 50%;
    font-size: .7rem;
    text-align: center;
    padding: 10px 0;
    overflow: auto;
    font-weight: 500;
    text-transform: capitalize;
}

.file_history_options_date {
    border-right: 2px solid #112D55;
}

.filesMobile {
    width: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 10px 0;
    margin: 0 0 10px 0;
}
.template_select_container {
    display: flex;
}

.templateFiles {
    width: 90%;
    padding: 10px;
    font-size: .8rem;
    border: 2px solid #333;
    border-radius: 5px;
    margin: 0 auto;
}

.mobileToolsNav {
    display: none;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
}

.mobileToolsNavBtn {
    background-color: none;
    border: 2px solid #1A4480;
    padding: 5px;
    border-radius: 5px;

}

#closeMobileToolsNavBtn {
    display: none;
    background-color: #0000;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all ease-in-out .5s;
}

#closeMobileToolsNavBtn:hover {
    color: #B50909;
}

#closeMobileToolsNavBtnContainer {
    width: 90%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.mobileHistory {
    display: none;
}

#quick_field_search_container {
    margin-top: 0;
}

#quick_field_search {
    width: 100%;
}

#form-select-dropdown,
#indicator-select-dropdown,
#indicator-id {
    border: 2px solid #333;
    margin-top: 0.25rem;
    padding: 0.5rem;
    width: 380px;
    border-radius: 5px;
}

#form-select,
#indicator-select,
#indicator-id-label {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 20px;
}

#form-select>span,
#indicator-select>span,
#indicator-id-label>span {
    font-weight: 600;
}

#indicator-id-label {
    margin: 0;
}

#indicator-select,
#indicator-id-label,
#copy-field-id {
    visibility: hidden;
}

#sensitive-warning {
    color: red;
    visibility: hidden;
}

#copy-field-id {
    margin: 15px 0 0 0;
}

@media only screen and (max-width: 1280px) {

    .file-history-res,
    #controls,
    .controls-compare {
        width: 90%;
    }

    .leaf-btn-med,
    .controls-compare>button {
        width: 90%;
        font-size: 0.75rem;
    }

    .leaf-ul li {
        font-size: 0.7rem !important;
        line-height: 2;
    }

    .usa-table {
        font-size: 0.8rem;
    }

    .keyboard_shortcuts_section {
        width: 90%;
    }
}



@media only screen and (max-width:1024px) {
    .mobileHistory {
        display: block;
    }

    #closeMobileToolsNavBtn {
        display: block;
    }

    .page-title-container {
        width: 90%;
        flex-wrap: nowrap;
        align-items: center;
        flex-direction: row !important;
    }
    .page-title-container > h2 {
        font-size: 1.3rem;
    }

    .mobileToolsNav {
        display: flex;
    }

    .leaf-left-nav {
        display: none;
    }

    .filesMobile {
        display: flex;
        gap: 2px;
    }

    .main-content {
        width: 95%;
    }

    .CodeMirror-code {
        font-size: .7rem;
    }

    .leaf-right-nav {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 20px 0;
        position: fixed;
        right: -100%;
        width: 300px;
        background-color: #fff;
        height: 100%;
        z-index: 999;
        top: 0;
        box-shadow: 0 0 15px 5px #00000040;
        align-items: center;
    }

    .sidenav,
    .sidenav-right {
        width: 100%;
    }

    .sidenav-right-compare {
        width: 95%;
    }

    #nav {
        z-index: 998;
    }

    .keyboard_shortcuts_section {
        width: 100%;
    }
}