/* dialog modal adjustment */
.ui-dialog .ui-dialog-content {
    box-sizing: border-box;
}
/* some overrides to help with history modal */
#genericDialogxhr {
    display: flex;
    flex-direction: column;
}
#genericDialogxhr .leaf-buttonBar {
    margin-top: auto;
}
#genericDialogxhr .leaf-buttonBar button {
    margin: 0;
}


/* CodeMirror related style adjustments */
/* adds a more obvious glyph for the merge buttons. original still shows to keep it accessible */
.CodeMirror-merge-copybuttons-left > .CodeMirror-merge-copy::before {
    content: '\25ba\25ba\25ba';
}
.CodeMirror-linebackground {
    background-color: #8ce79b80;
}
.CodeMirror, .CodeMirror-merge {
    margin-bottom: 1px;
    height: 100vh !important;
}
#divSubject .CodeMirror,
#divSubject .CodeMirror-merge {
    height: 60px !important;
}
#emailBodyCode .CodeMirror,
#emailBodyCode .CodeMirror-merge {
    height: 400px !important;
}
.CodeMirror-code {
    font-size: .7rem;
}
.CodeMirror pre {
    padding: 2px 12px;
}
.CodeMirror-lines {
    padding: 10px 0;
}
.CodeMirror-linenumber {
    text-align: center;
    color: #707074;
}
.CodeMirror-sizer {
    margin-left: 30px !important;
}


.leaf-center-content {
    margin: 0 auto;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 2000px;
}


.page-title-container {
    width: 100%;
    display: flex;
    gap: 0.25rem;
    justify-content: space-between;
    align-items: center;
}
.page-title-container > h2 {
    margin: 15px 0;
}
#mobileToolsNavBtn {
    cursor: pointer;
    display: none;
    white-space: nowrap;
    justify-content: flex-end;
    align-items: center;
    background-color: #e8f2ff;
    border: 2px solid #1A4480;
    padding: 5px;
    border-radius: 5px;
}



.page-main-content {
    display: flex;
    gap: 0.75rem;
    width: 100%;
}

#codeArea.main-content {
    margin: 0;
    min-width: 400px;
}
.leaf-left-nav,
.leaf-right-nav {
    position: relative;
    margin: 0;
    width: 260px;
    flex: 0 0 260px;
    transition: right .5s ease, left .5s ease;
}
.reports.leaf-right-nav {
    display: none;
}
.reports.leaf-right-nav.custom {
    display: block;
}
.leaf-left-nav {
    left: 0;
}
.leaf-left-nav.hide {
    display: none;
}
/* reset some styles from leaf.css */
.sidenav,
.sidenav-right {
    width: 100%;
    max-width: none;
    padding: 0;
    box-shadow: none;
}



#codeContainer {
    width: 100%;
    box-shadow: none;
    padding: 0;
    background-color: transparent;
    overflow: initial;
}
label#filename {
    display: block;
    padding: 0.75rem;
    font-size: 1.25rem;
    background-color: #252f3e;
    font-weight: bold;
    color: #fff;
    border-radius: 5px 5px 0 0;
}
#reportURL {
    background-color: white;
    padding: 12px;
    width: 100%;
    border-bottom: 1px solid black;
}
.compared-label-content {
    padding: 0.5rem 0.25rem;
    width: 100%;
    display: none;
    align-items: center;
    background-color: #fff;
}
div[class^="CodeMirror-merge-pane-label"] {
    width: 50%;
    font-weight: bold;
    display: flex;
    justify-content: center;
}
div.CodeMirror-merge-pane-label-right {
    color: #083;
}


/* left nav content related - template file lists */
#fileBrowser {
    width: 100%;
    margin: 0;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
#fileBrowser > h3 {
    width: 100%;
    text-align: left;
}
#fileList {
    padding-left: 2px;
    overflow: auto;
}
#fileList > ul.reports {
    margin-bottom: 1rem;
}
.leaf-ul {
    width: 100%;
    min-height: 300px;
    padding: 0 0 0 1rem;
    overflow: auto;
}
.leaf-ul:first-child {
    margin-top: 0;
}
.leaf-ul > li {
    width: 100%;
    line-height: 2;
    list-style: disc;
}
.leaf-ul > li a {
    color: #000;
    text-decoration: none;
    font-size: .8rem;
    border-bottom: 2px solid #00000000;
    transition: border-bottom 0.3s ease;
    padding-bottom: 2px;
}
.leaf-ul > li a:hover,.leaf-ul > li a:focus, .leaf-ul > li a:active {
    font-weight: bold;
    border-bottom: 2px solid #005ea2;
    color: #005EA2;
}
.template_files {
    width: 100%;
    font-size: .8rem !important;
    line-height: 1.9;
    list-style: circle;
}
.custom_file {
    color: #C00000;
    font-size: 0.75rem;
}



/*Keyboard Shortcuts*/
.keyboard_shortcuts,
.keyboard_shortcuts_merge {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #fff;
    margin-top: 10px;
    padding: 0.5rem;
    border-radius: 5px;
}
.keyboard_shortcuts.hide,
.keyboard_shortcuts_merge.hide {
    display: none;
}
h3.keyboard_shortcuts_main_title {
    margin: 0 0 10px 0;
}
.keyboard_shortcuts_section,
.keyboard_shortcuts_section_merge {
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 8px 0;
}
.keboard_shortcuts_box,
.keboard_shortcuts_box_merge {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.keboard_shortcuts_box:last-child,
.keboard_shortcuts_box_merge:last-child {
    padding-left: 50px;
}

.keyboard_shortcuts_title,
.keyboard_shortcut,
.keyboard_shortcuts_title_merge,
.keyboard_shortcut_merge {
    width: 50%;
    text-align: left;
}

.keyboard_shortcuts_title>h3,
.keyboard_shortcuts_title_merge>h3 {
    font-weight: 500;
    text-transform: uppercase;
    font-size: .7rem;
    margin: 0;
}

.keyboard_shortcut>p,
.keyboard_shortcut_merge>p {
    background-color: #e6e6e6;
    border-radius: 5px;
    padding: 8px;
    text-align: center;
    font-size: .7rem;
    margin: 0;
}




/*right-nav File History Table */
.file-history {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    margin-top: 10px;
    padding: 0 0.5rem 0.5rem 0.5rem;
    border-radius: 5px;
}
.file-history-res {
    width: 100%;
}
.contentMessage {
    width: 100%;
    font-size: .8rem;
    padding: 10px 0;
    text-align: center;
}

#file_history_container {
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.file_history_titles {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #1A4480;
    color: #fff;
    padding: 10px 0;
    border-radius: 5px 5px 0 0;
}
.file_history_date,
.file_history_author {
    width: 48%;
    text-align: center;
    font-size: .8rem;
}

.file_history_options_container { /* container for history buttons */
    width: 100%;
    height: 100%;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 2px solid #112D55;
    border-top: #ffffff00;
    overflow: auto;
    border-radius: 0 0 5px 5px;
}
button.file_history_options_wrapper {
    border: 0;
    padding:0;
    background-color: #ffffff;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #112D55;
    cursor: pointer;
    transition: all ease-in-out .3s;
    -webkit-transition: all ease-in-out .3s;
    -moz-transition: all ease-in-out .3s;
    -ms-transition: all ease-in-out .3s;
    -o-transition: all ease-in-out .3s;
}
.file_history_options_wrapper:hover,
.file_history_options_wrapper:focus,
.file_history_options_wrapper:active {
    background-color: #112D55;
    color: #fff;
    outline: none !important;
}
.file_history_options_wrapper:last-child {
    border-bottom: 0;
}

.file_history_options_date,
.file_history_options_author {
    width: 100%;
    font-size: .7rem;
    text-align: center;
    padding: 0.375rem 2px;
    line-height: 1.4;
    overflow: auto;
    font-weight: 500;
    text-transform: capitalize;
}
.file_history_options_date {
    border-right: 2px solid #112D55;
}



/* right nav menu, buttons */
#closeMobileToolsNavBtn {
    margin: 3px 3px 3px auto;
    display: none;
    background-color: #fff;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}
#closeMobileToolsNavBtn:hover,#closeMobileToolsNavBtn:focus,#closeMobileToolsNavBtn:active {
    color: #B50909;
}
.filesMobile {
    width: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 0.5rem;
    margin: 0 0 10px 0;
}
label[for="template_file_select"] {
    font-size: 1rem;
    margin-bottom: 0.25rem;
}
#template_file_select {
    width: 100%;
    margin: 0 0.25rem;
    padding: 0.25rem 0.125rem;
    border: 2px solid #000;
    border-radius: 4px;
    font-size: .9rem;
}

#controls {
    width: 100%;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
#fileBrowser > button,
#controls > button,
#controls > a {
    margin: 0;
    font-size: .9rem;
    width: 100%;
    border-radius: 4px;
}
#controls:not(.comparing) button.compare_only,
#controls.comparing button.edit_only,
#controls.comparing a.edit_only,
#controls.comparing #restore_original,
#controls.comparing #file_replace_file_btn,
#restore_original:not(.modifiedTemplate),
#btn_compare:not(.modifiedTemplate),
#mobile_new_report_btn,
#btn_history_mobile {
    display: none;
}
#controls.comparing button.compare_only,
#controls.comparing #restore_original.comparing,
#controls.comparing #file_replace_file_btn.comparing {
    display:block;
}

button.new-report, #save_button {
    background-color: #1a4480;
}
.saveStatus {
    padding-top: 0.25rem;
    font-family: "PublicSans Regular", sans-serif;
    font-size: 10px;
}




/*email template editor */
#divSubject, #emailBodyCode {
    border: 2px solid #000;
}
#emailLists,
#subject,
#filename.email,
.email-template-variables,
#quick_field_search_container {
    display: block;
    margin-top: 1rem;
    width: 100%;
    color: #000;
    background-color: #fff;
    padding: 0.5rem;
    border-radius: 5px;
}
#subject, #filename.email {
    font-size: 1.25rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
#emailTemplateHeader {
    padding: 0.75rem;
    font-size: 1.2rem;
    background: #252f3e;
    font-weight: bold;
    color: #fff;
    text-align: left;
    margin: 0;
    border-radius: 5px;
}
#emailNotificationInfo {
    margin-bottom: 1rem;
    display: none;
    padding-top: 3px;
    gap: 0.25rem;
    flex-wrap:wrap;
    font-size:90%;
}
#emailNotificationInfo > div {
    border-radius: 12px / 50%;
    padding: 0.375rem 0.625rem 0.25rem;
    box-shadow: 1px 1px 2px rgba(0,0,25,0.15);
}

fieldset {
    margin: 0;
    border-radius: 5px;
    padding: 0.5rem;
}
.email-template-variables > fieldset {
    display: flex;
}
.email-template-variables > fieldset > table {
    width: 100%;
}

#form-select-dropdown,
#indicator-select-dropdown,
#indicator-id {
    border: 2px solid #333;
    margin-top: 0.25rem;
    padding: 0.5rem;
    width: 380px;
    border-radius: 5px;
}
#form-select,
#indicator-select,
#indicator-id-label {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 20px;
}
#form-select>span,
#indicator-select>span,
#indicator-id-label>span {
    font-weight: 600;
}
#indicator-id-label {
    margin: 0;
}
#indicator-select,
#indicator-id-label,
#copy-field-id {
    background-color: #fff;
    visibility: hidden;
}
#copy-field-id {
    margin: 0.75rem 0 0 0;
}
#sensitive-warning {
    margin-top:2px;
    color: #c00000;
    visibility: hidden;
}




@media only screen and (max-width:1280px) {
    .keyboard_shortcuts_section {
        width: 90%;
    }
}



@media only screen and (max-width:1024px) {
    .page-title-container > h2 {
        font-size: 1.3rem;
    }
    #nav {
        z-index: 998;
    }
    .leaf-left-nav {
        display: none;
    }
    .leaf-right-nav {
        display: none;
        flex-direction: column;
        justify-content: flex-start;
        padding: 0.75rem 0;
        position: fixed;
        right: -100%;
        width: 280px;
        background-color: #fff;
        height: 100%;
        z-index: 999;
        top: 0;
        box-shadow: 0 0 15px 5px #00000040;
        align-items: center;
    }
    .leaf-right-nav.show {
        right: 0;
        display: flex;
    }

    button#mobileToolsNavBtn, .filesMobile {
        display: flex;
    }
    #controls {
        gap: 0.375rem;
    }

    .leaf-right-nav.reports:not(.custom) button {
        display: none;
    }
    .leaf-right-nav.reports:not(.custom) button.new-report,
    .leaf-right-nav.reports:not(.custom) button#btn_history_mobile,
    #closeMobileToolsNavBtn, #mobile_new_report_btn, #btn_history_mobile {
        display: block;
    }

    .file-history {
        margin-top: 0;
    }
    .file_history_options_container {
        max-height: 300px;
    }
}