bin/
test-output/
target/
.idea/
.idea/**
output/
Test-Automation.iml
Test-Automation/
Test-Automation/**/*.html
Test-Automation/**/*.iml
Test-Automation/**/*.output/
Test-Automation/**/*.idea/
Test-Automation/**/*.Screenshot/
Test-Automation/**/*.test-output/
Test-Automation/**/*.target/
Screenshot/screenshot_*.png
Screenshot/*.png
TestResult.html
index.html
