<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="RegressionSuite" thread-count="1" parallel="false" configfailurepolicy="continue">
	<parameter name="env" value="qa"/>
	<parameter name="app_url" value="https://host.docker.internal/LEAF_Request_Portal/admin"/>
	<parameter name="browser" value="chrome"/>
	<parameter name="remote_url" value=""/>
	<test name="Forms Workflow">

			<classes>
				<class name="test.java.FormEditorTests"/>
			</classes>
	</test>

<!--    -->   	
 <!--
	<test name="Home Page">
		<parameter name="env" value="https://localhost/LEAF_Request_Portal/">
		<parameter name="browser" value="chrome"/>
			<classes>
				<class name="test.java.HomePage.homePageTest"/>
			</classes>
		</parameter>
	</test>   
	
	<test name="Admin Page">
		<parameter name="env" value="https://localhost/LEAF_Request_Portal/admin/">
		<parameter name="browser" value="chrome"/>
			<classes>
				<class name="test.java.adminPage.adminPageTest"/>
			</classes>     
			</parameter>
	</test>        
	

  
	<test name="User Access Groups">
		<parameter name="env" value="https://localhost/LEAF_Request_Portal/admin/?a=mod_groups">
		<parameter name="browser" value="chrome"/>
			<classes>
				<class name="test.java.adminPage.adminUserAccessTest"/>
			</classes>
			</parameter>
	</test>

  	  
	<test name="Create New Request Workflow">
		<parameter name="env" value="https://localhost/LEAF_Request_Portal/">
		<parameter name="browser" value="chrome"/>
			<classes>
				<class name="test.java.Request_WorkFlow.newRequestWorkflow"/>
			</classes>
			</parameter>
	</test>
  		 
	<test name="Org Chart Workflow">
		<parameter name="env" value="https://localhost/LEAF_Nexus/">
		<parameter name="browser" value="chrome"/>
			<classes>
				<class name="test.java.OrganizationChart.orgChartWorkflow"/>
			</classes>
			</parameter>
	</test>
	


 	<test name="Report Builder Workflow">
		<parameter name="env" value="https://localhost/LEAF_Request_Portal/">
		<parameter name="browser" value="chrome"/>
			<classes>
				<class name="test.reportBuilderWorkflow"/>
			</classes>
		</parameter>
	</test>    

    -->   



<!--   


 	<test name="Forms Workflow Part 2">
		<parameter name="env" value="https://localhost/LEAF_Request_Portal/admin/?a=form#">
		<parameter name="browser" value="chrome"/>
			<classes>
				<class name="test.java.formWorkflow.formsWorkflowPart2"/>
			</classes>
		</parameter>
	</test>

 -->

	    
<!--    -->
 		
</suite>

