<html lang="en">

<head>
    <style type="text/css">
        table thead {
            background:#a7b0bd;
        }
        table td.left {
            text-align: left !important;
        }

        table th.left {
            text-align: left !important;
        }

        table td {
            padding: 4px;
        }

        table.alternating tbody tr:nth-child(even) {
            background: #d8e5f8;
        }

        #container {
            width: 1000px;
            margin: auto;
        }

        #individualReports table {
            width: 100%;
        }

        #individualReports table td {
            text-align: center;
        }

        #reportOverview table {
            width: 100%;
        }

        #reportOverview table td {
            text-align: center;
        }

        #reportParams {
            width: 100%;
        }

        #reportParams td.label {
            font-weight: bold;
            margin-right: 15px;
        }

        .mono {
            font-family: monospace;
        }

        .spaced {
            margin: 10px 0px 10px 0px;
        }
    </style>
</head>

<body>
    <div id="container">
        <h1>{{=it.options.config.reportHeader}}</h1>

        <p>{{=it.options.config.description}}</p>

        <table id="reportParams">
            <tbody>
                <tr>
                    <td class="label">Date of Scan</td>
                    <td>{{=it.reportParams.date}}</td>
                </tr>
                <tr>
                    <td class="label">Accessibility Standard</td>
                    <td>{{=it.options.standard}}</td>
                </tr>
                <tr>
                    <td class="label">pa11y Version</td>
                    <td>{{=it.reportParams.pa11yVersion}}</td>
                </tr>
                <tr>
                    <td class="label">Scanner Version</td>
                    <td>{{=it.reportParams.scannerVersion}}</td>
                </tr>
                <tr>
                    <td class="label">LEAF Version</td>
                    <td>{{=it.reportParams.leafVersion}}</td>
                </tr>
            </tbody>
        </table>

        <h2>Overview</h2>

        <ul>
            <li><strong>Error:</strong> needs to be fixed</li>
            <li><strong>Warning:</strong> potential problem, requires manual inspection to determine if a failure</li>
            <li><strong>Notice:</strong> cannot automatically detect, should be manually inspected to ensure compliance</li>
        </ul>

        <div id="reportOverview">

            <table>
                <thead>
                    <th></th>
                    <th>error</th>
                    <th>warning</th>
                    <th>notice</th>
                    <th>total</th>
                </thead>
                <tbody>
                    <tr>
                        <td class="left">#</td>
                        <td>{{=it.overview.numError}}</td>
                        <td>{{=it.overview.numWarning}}</td>
                        <td>{{=it.overview.numNotice}}</td>
                        <td>{{=it.overview.numTotal}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <h2>Individual Findings</h2>
        <div id="individualReports">
            <div class="spaced">
                Total pages tested: {{=it.overview.totalPages}}
            </div>

            <div class="spaced">
                Click to view individial reports. 
            </div>

            <table class="alternating">
                <thead>
                    <th class="left">page</th>
                    <th>error</th>
                    <th>warning</th>
                    <th>notice</th>
                    <th>total</th>
                </thead>

                <tbody>
                    {{~it.reports :report:index}}
                    <tr>
                        <td class="left"><a href="{{=report.idx}}.html">{{=report.page}}</a></td>
                        <td>{{=report.findings.error}}</td>
                        <td>{{=report.findings.warning}}</td>
                        <td>{{=report.findings.notice}}</td>
                        <td>{{=report.findings.total}}</td>
                    </tr>
                    {{~}}
                </tbody>
            </table>
        </div>

        <h2>Resources</h2>

        <p>
            <span class="mono">pa11y</span> uses a product called <span class="mono">HTML_CodeSniffer</span> to inspect for compliance issues.
        </p>

        <p>
            <span class="mono">HTML_CodeSniffer</span> uses the U.S. "Section 508" and "WCAG 2.0" accessibility guidelines.
        </p>

        <ul>
            <li><a href="https://www.section508.gov/">U.S. "Section 508" Accessibility Guidelines</a></li>
            <li><a href="https://github.com/pa11y/pa11y">pa11y</a></li>
            <li><a href="http://squizlabs.github.io/HTML_CodeSniffer/">HTML_CodeSniffer</a></li>
            <li>
                <a href="http://squizlabs.github.io/HTML_CodeSniffer/Standards/Section508/">
                    Explanation of Section508 findings
                </a>
            </li>
            <li>
                <a href="http://squizlabs.github.io/HTML_CodeSniffer/Standards/WCAG2/">
                    Explation of WCAG2 findings
                </a>
            </li>
            <li>
                <a href="https://www.w3.org/TR/wai-aria/">WAI-ARIA specifications</a>
            </li>
        </ul>
    </div>
</body>

</html>