.navi_groupName {
    border: 1px solid black;
    padding: 4px;
    width: 400px;
    cursor: pointer;
}

li {
    padding: 4px;
}

#navigation_path {
    width: 80%;
}

.groupSmall {
    border: 1px solid black;
    background-color: #caecff;
    width: 200px;
    height: 72px;
    padding: 0px;
    margin: 20px;
    cursor: pointer;
    position: relative;
    float: left;
    z-index: 20;
}

.groupSmall_title {
    background-color: #a8dfff;
    padding: 4px;
    margin: 0px;
}

.groupSmall_data {
    padding: 4px;
    margin: 0px;
    float: right;
}

#positionContent {
    width: 90%;
    position: relative;
    z-index: 20;
}

.positionSmall {
    border: 1px solid black;
    background-color: #ffe3e3;
    width: 200px;
    height: 72px;
    padding: 0px;
    margin: 20px;
    cursor: pointer;
    position: relative;
    float: left;
    z-index: 20;
}

.positionSmall_title {
    background-color: #f4bcbc;
    padding: 4px;
    margin: 0px;
}

.positionSmall_data {
    padding: 4px;
    margin: 0px;
}

.positionPhoto {
    float: right;
    visibility: hidden;
    width: 64px;
}

#groupData {
    background-color: #a8dfff;
    padding: 2px;
    margin-bottom: 16px;
    border: 1px solid black;
}

#groupData>div {
    background-color: #caecff;
    padding: 2px;
    border-top: 1px solid black;
}