div#employee {
    float: left;
    background-color: #ffe3e3;
    border: 1px solid black;
    width: 99%;
}

div#employeeHeader {
    background-color: #f4bcbc;
    padding: 4px;
}

#employeeName {
    font-size: 140%;
    font-weight: bold;
}

div#employeeBody {
    padding: 4px;
}